<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% p = Post.new %>
  <% @topic.root_id = p %>

  <% p.message = "Test Message" %>
  <% p.support = "Test Support" %>
  <% p.status = TRUE %>
  <% p.level = 0 %>
  <% p.score = 100 %>
  <% p.views = 0 %>
  <% p.topic_id = @topic.id %>
  <% p.children = 0 %>
  <% p.offspring = 0 %>
  <% p.points = 0 %>
  <% p.kind = Post::OPINION %>
  <% p.parent_id = nil %>
  <% p.save! %>

  <div class="field">
    <%= f.check_box :private %>
    <%= f.label :private? %></div>
  <div class="field">
    <%= f.check_box :lone_wolf %>
    <%= f.label :lone_wolf? %></div>
  <div class="field">
    <%= f.check_box :teams %>
    <%= f.label :teams? %></div>
  <div class="field">
    <%= f.check_box :public_viewing %>
    <%= f.label :public_viewing? %></div>
  <div class="field">
    <%= f.check_box :public_comments %>
    <%= f.label :public_comments? %></div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
