<div class="toppadding10">
	<div class="submit_text message_text">
		In my opinion:
	</div>
	<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter opinion here. Be as concise as possible."></textarea>
</div>

<div class="toppadding5">
	<div class="submit_text support_text">
		Support (Optional):
	</div>
	<textarea class="message support_placeholder" name="support" rows="10" cols="100" placeholder="Enter justification, rationale, clarification, and supporting information here."></textarea>
</div>

<div class="toppadding5">
	<div class="submit_text support_url">
		URL (Optional):
	</div>
	<textarea class="message support_placeholder" name="url" rows="1" cols="100" placeholder="Enter related link here."></textarea>
</div>

<% unless @categories.empty? %>
	<div class="flexContainer_row_center_space" style="margin-top: 5px">
		<div class="createflexitem1">
			Categories (Optional):
		</div>
		<div class="createflexitem2 flexContainer_row_wrap_start">
				<% @categories.each do |c| %>
					<div>
						<%= check_box_tag c.name, 'true' %>
						<%= label_tag c.name %> &nbsp
					</div>
				<% end %>
		</div>
	</div>
<% end %>

<div id="postformat" class="flexContainer_row_start_start">
	<div id="postformat">
		<div id="formattype">
			<b>Format:</b>
			<%= radio_button_tag 'format', 'public', true %>
			<%= label_tag 'format', 'Public' %> &nbsp
			<%= radio_button_tag 'format', 'private' %>
			<%= label_tag 'format', 'Private' %>
		</div>

		<div id=public>
			<%= check_box_tag 'lone_wolf', 'lone_wolf', false %>
			<%= label_tag 'Lone wolf?' %>
		</div>

		<div id=private>
			<div id="teams">
				<%= check_box_tag 'use_teams', 'use_teams', false %>
				<%= label_tag 'Teams?' %>
			</div>

			<div id="pubviewing">
				<%= check_box_tag 'publicviewing', 'publicviewing', false %>
				<%= label_tag 'Public Viewing?' %>
			</div>

			<div id="pubcomments">
				<%= check_box_tag 'publiccomments', 'publiccomments', false %>
				<%= label_tag 'Public Comments?' %>
			</div>
		</div>
	</div>

	<div id="postteam1" class="flexContainer_column_center_start">
		<div id="postteam1heading1" class="bold">
			Participants
		</div>
		<div id="postteam1heading2" class="bold">
			Agrees
		</div>
		<div id="postteam1heading3" class="bold">
			Team 1
		</div>
		<%= select_tag 'provers_dropdown1', options_from_collection_for_select(@provers, "id", "provername"), :class => "provers_dropdown1" %>
		<div id="team1members">
			<%= current_prover.provername %>
		</div>
	</div>

	<div id="postteam2" class="flexContainer_column_center_start">
		<div id="postteam2heading2" class="bold">
			Disagrees
		</div>
		<div id="postteam2heading3" class="bold">
			Team 2
		</div>
		<%= select_tag 'provers_dropdown2', options_from_collection_for_select(@provers, "id", "provername"), :class => "provers_dropdown2" %>
		<div id="team2members">
		</div>
	</div>
</div>

<div class="divider">
	<hr size="2" noshade>
</div>

<div class="toppadding10 sidepadding">
	<%= submit_tag("Submit")%>
	<button class="right sidepadding" name="Cancel" type="button" id="createcancelbutton">
		Cancel
	</button>
</div>