<p id="notice"><%= notice %></p>

<h1>ProveIt!</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div>
    <span>
    <%= link_to 'CreateOpinion', new_post_path %>
    </span>
    <span>
    <%= link_to 'CreateInitiator', "." %>
    </span>
    <span>
    <%= link_to 'CreateMessage', "." %>
    </span>
    <span>
    <%= link_to 'More', "." %>
    </span>
    <span>
    <%= link_to 'Less', "." %>
    </span>
    </div>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
