<div class="mainbody">
	<head>
		<script type="text/javascript">
			$(function() {
				$('#type_opinion').on("click", function() {
					console.log("Now we're in opinion mode.");
					$(".submit_text.message_text").text("In my opinion:");
					$(".submit_text.support_text").text("Support (Optional):");
					document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter opinion here. Be as concise as possible.';
					document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter additional rationale, clarification and supporting information here.';
					if ($('#format_public').is(':checked')) {
						$('#public').show();
						$('#private').hide();
						$('#postteam1').hide();
						$('#postteam2').hide();
					} else {
						$('#public').hide();
						$('#private').show();
						$('#postteam1').show();
						$('#postteam1heading3').hide();
						$('#postteam2heading3').hide();
						if ($('#privateteams').is(':checked')) {
							$('#postteam2').show();
							$('#postteam1heading1').hide();
							$('#postteam1heading2').show();
							$('#postteam2heading2').show();
						} else {
							$('#postteam1heading1').show();
							$('#postteam1heading2').hide();
							$('#postteam2heading2').hide();
						}
					}
				});

				$('#type_initiator').on("click", function() {
					console.log("Now we're in initiator mode.");
					$(".submit_text.message_text").text("Initiator:");
					$(".submit_text.support_text").text("Support (Optional):");
					document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter thought provoking question, comment, quote or directive here. Be as concise as possible.';
					document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter attachments, clarification and supporting information here.';
					if ($('#format_public').is(':checked')) {
						$('#public').show();
						$('#private').hide();
						$('#postteam1').hide();
						$('#postteam2').hide();
					} else {
						$('#public').hide();
						$('#private').show();
						$('#postteam1').show();
						$('#postteam1heading2').hide();
						$('#postteam2heading2').hide();
						if ($('#privateteams').is(':checked')) {
							$('#postteam2').show();
							$('#postteam1heading3').show();
							$('#postteam2heading3').show();
							$('#postteam1heading1').hide();
						} else {
							$('#postteam1heading1').show();
							$('#postteam1heading3').hide();
							$('#postteam2heading3').hide();
						}
					}
				});

				$('#type_comment').on("click", function() {
					console.log("Now we're in casual mode.");
					$(".submit_text.message_text").text("Comment:");
					$(".submit_text.support_text").text("Support (Optional): ");
					document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter casual comment here.';
					document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter additional information here.';
					$('#public').hide();
					$('#private').hide();
					$('#postteam2').hide();
					if ($('#format_public').is(':checked')) {
						$('#postteam1').hide();
					} else {
						$('#postteam1').show();
						$('#postteam1heading1').show();
						$('#postteam1heading2').hide();
						$('#postteam1heading3').hide();
					}
				});

				$('#format_public').on("click", function() {
					console.log("Selecting public.");
					$('#postteam1').hide();
					$('#postteam2').hide();

					if ($('#type_opinion').is(':checked')) {
						$('#public').show();
						$('#private').hide();
					} else if ($('#type_initiator').is(':checked')) {
						$('#public').show();
						$('#private').hide();
					} else {
						$('#public').hide();
						$('#private').hide();
					}
				});

				$('#format_private').on("click", function() {
					console.log("Selecting private.");
					$('#postteam1').show();
					if ($('#type_opinion').is(':checked')) {
						console.log("Type opinion is selected...");
						$('#public').hide();
						$('#private').show();
						$('#postteam1').show();
						$('#postteam1heading3').hide();
						$('#postteam2heading3').hide();
						if ($('#privateteams').is(':checked')) {
							$('#postteam2').show();
							$('#postteam1heading1').hide();
							$('#postteam1heading2').show();
							$('#postteam2heading2').show();
						} else {
							$('#postteam1heading1').show();
							$('#postteam1heading2').hide();
							$('#postteam2heading2').hide();
						}
					} else if ($('#type_initiator').is(':checked')) {
						console.log("Type initiator is selected...");
						$('#public').hide();
						$('#private').show();
						$('#postteam1').show();
						$('#postteam1heading2').hide();
						$('#postteam2heading2').hide();
						if ($('#privateteams').is(':checked')) {
							$('#postteam2').show();
							$('#postteam1heading3').show();
							$('#postteam2heading3').show();
							$('#postteam1heading1').hide();
						} else {
							$('#postteam1heading1').show();
							$('#postteam1heading3').hide();
							$('#postteam2heading3').hide();
						}
					} else {
						console.log("Type Casual is selected...");
						$('#public').hide();
						$('#private').hide();
						$('#postteam1').show();
						$('#postteam1heading1').show();
						$('#postteam1heading2').hide();
						$('#postteam1heading3').hide();
					}
				});

				$('#teams').on("click", function(e) {
					console.log("Clicking teams checkbox.");
					var $tgt = $(e.target);
					if($tgt.prop("checked")) {
						$('#postteam1').show();
						$('#postteam2').show();
						$('#postteam1heading1').hide();
						if ($('#type_opinion').is(':checked')) {
							$('#postteam1heading2').show();
							$('#postteam1heading3').hide();
							$('#postteam2heading2').show();
							$('#postteam2heading3').hide();
						} else if ($('#type_initiator').is(':checked')) {
							$('#postteam1heading2').hide();
							$('#postteam1heading3').show();
							$('#postteam2heading2').hide();
							$('#postteam2heading3').show();
						}
					} else {
						$('#postteam1').show();
						$('#postteam2').hide();
						$('#postteam1heading1').show();
						$('#postteam1heading2').hide();
						$('#postteam1heading3').hide();
						$('#postteam2heading2').hide();
						$('#postteam2heading3').hide();
					}
				});

				$('#publicviewing').on("click", function(e) {
					console.log("Clicking public viewing checkbox.");
					var $tgt = $(e.target);
					if($tgt.prop("checked")) {
						$('#pubcomments').show();
					} else {
						$('#pubcomments').hide();
					}
				});

				$('input[name="format"][value="public"]').click();
				$('#pubcomments').hide();

				$('#createcancelbutton').on("click", function () {
					console.log("Selecting quit button.");
					history.back();
				});

				$('.follow').on("click", function (e) {
					var $tgt = $(e.target);
					$.post('/follows', {owner: <%= current_prover.id %>, follows: $tgt.attr("data-prover-id") }, function(resp) {
						var follow = JSON.parse(resp);
						console.log(follow);
					});

					console.log("Following this prover.");
					window.location.reload();
					return false;
				});
			});
		</script>
	</head>

	<div id="create">
		<form action="<%= topics_path %>" method="post">
			<div id="createbar">
				<b>Create:</b>
				<div class="right sidepadding">
					<%= radio_button_tag('type', 'opinion', true)%>
					<%= label_tag('type', 'Opinion') %>
					<%= radio_button_tag('type', 'initiator') %>
					<%= label_tag('type', 'Initiator') %>
					<%= radio_button_tag('type', 'comment') %>
					<%= label_tag('type', 'Casual') %>
				</div>
			</div>

			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= hidden_field_tag :parentpost, @post %>

			<%= render "posts/create" %>
		</form>
	</div>
</div>