<div class="mainbody">
	<head>
		<script type="text/javascript">
			$(function() {
				$('#type_opinion').on("click", function() {
					console.log("Now we're in opinion mode.");
					$(".submit_text.message_text").text("In my opinion:");
					$(".submit_text.support_text").text("Support (Optional):");
					document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter opinion here. Be as concise as possible.';
					document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter additional rationale, clarification, supporting information, and external links here.';
				});

				$('#type_initiator').on("click", function() {
					console.log("Now we're in initiator mode.");
					$(".submit_text.message_text").text("Initiator:");
					$(".submit_text.support_text").text("Support (Optional):");
					document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter thought provoking question, comment, quote or directive here. Be as concise as possible.';
					document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter attachments, clarification, supporting information, and external links here.';
				});

				$('#type_comment').on("click", function() {
					console.log("Now we're in comment mode.");
					$(".submit_text.message_text").text("Comment:");
					$(".submit_text.support_text").text("Support (Optional): ");
					document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter comment here.';
					document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter additional information and/or attachments here.';
				});

				$('#format_public').on("click", function() {
					console.log("Selecting public.");
					$('#private').hide();
					$('#public').show();
				});

				$('#format_private').on("click", function() {
					console.log("Selecting private.");
					$('#private').show();
					$('#public').hide();
				});

				$('#publicviewing').on("click", function(e) {
					console.log("Selecting public viewing.");
					var $tgt = $(e.target);
					if($tgt.prop("checked")) {
						$('#pubcomments').show();
					} else {
						$('#pubcomments').hide();
					}
				});

				$('input[name="format"][value="public"]').click();
				$('#pubcomments').hide();

				$('#createcancelbutton').on("click", function () {
					console.log("Selecting quit button.");
					history.back();
				});
			});
		</script>
	</head>

	<div id="create">
		<form action="<%= topics_path %>" method="post">
			<div id="createbar">
				<b>Create:</b>
				<span class="right sidepadding">
					<%= radio_button_tag('type', 'opinion', true)%>
					<%= label_tag('type', 'Opinion') %>
					<%= radio_button_tag('type', 'initiator') %>
					<%= label_tag('type', 'Initiator') %>
					<%= radio_button_tag('type', 'comment') %>
					<%= label_tag('type', 'Comment') %>
				</span>
			</div>

			<div class="toppadding10">
				<span class="submit_text message_text">In my opinion:</span>
				<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter opinion here. Be as concise as possible."></textarea>
			</div>
			<div class="toppadding5">
				<span class="submit_text support_text">Support (Optional):</span>
				<textarea class="message support_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional rationale, clarification, supporting information, attachments, and external links here."></textarea>
			</div>

			<div id="formattype" class="toppadding10">
				<b>Format:</b>
				<%= radio_button_tag 'format', 'public', true%>
				<%= label_tag 'format', 'Public' %>
				<%= radio_button_tag 'format', 'private' %>
				<%= label_tag 'format', 'Private' %>
			</div>

			<div id=public>
				<%= check_box_tag 'lone_wolf', 'lw', false %>
				<%= label_tag 'Lone_wolf?' %>
			</div>

			<div id=private>
				<div id="teams">
					<%= check_box_tag 'teams', 'teams', false %>
					<%= label_tag 'Teams?' %>
				</div>
				<div id="pubviewing">
					<%= check_box_tag 'publicviewing', 'pv', false %>
					<%= label_tag 'Public Viewing?' %>
				</div>
				<div id="pubcomments">
					<%= check_box_tag 'publiccomments', 'pc', false %>
					<%= label_tag 'Public Comments?' %>
				</div>
			</div>

			<div class="divider"><hr size="2" noshade></div>

			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= hidden_field_tag :parentpost, @post %>

			<div class="toppadding10 sidepadding">
				<%= submit_tag("Submit")%>
				<button class="right sidepadding" name="Cancel" type="button" id="createcancelbutton">Cancel</button>
			</div>

		</form>
	</div>
</div>