<div class="mainbody">
	<head>
		<script type="text/javascript">
			$(postReady);
		</script>
	</head>

	<div id="create">
		<form action="<%= topics_path %>" method="post">
			<div id="createbar" style="display: flex; flex-direction: row; justify-content: flex-start">
				<div style="width:14%">
					<b>Create:</b>
				</div>
				<div class="right sidepadding">
					<%= radio_button_tag('type', 'opinion', true)%>
					<%= label_tag('type', 'Opinion') %>
					<%= radio_button_tag('type', 'initiator') %>
					<%= label_tag('type', 'Initiator') %>
					<%= radio_button_tag('type', 'comment') %>
					<%= label_tag('type', 'Casual') %>
				</div>
			</div>

			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= hidden_field_tag :parentpost, @post %>
			<%= hidden_field_tag :team1, current_prover.id %>
			<%= hidden_field_tag :team2 %>

			<%= render "posts/create" %>

		</form>
	</div>
</div>