<head>
  <script type="text/javascript">
      $(function() {
          $('#type_opinion').on("click", function() {
              console.log("Now we're in opinion mode.");
              $(".submit_text.message_text").text("In my opinion:");
              $(".submit_text.support_text").text("Support (Optional), ");
          });

          $('#type_initiator').on("click", function() {
              console.log("Now we're in initiator mode.");
              $(".submit_text.message_text").text("Initiator:");
              $(".submit_text.support_text").text("Support (Optional), ");
          });

          $('#type_comment').on("click", function() {
              console.log("Now we're in comment mode.");
              $(".submit_text.message_text").text("Comment:");
              $(".submit_text.support_text").text("Support (Optional): ");
          });

          $('#format_public').on("click", function() {
              console.log("Selecting public.");
              $('#private').hide();
              $('#public').show();
          });

          $('#format_private').on("click", function() {
              console.log("Selecting private.");
              $('#private').show();
              $('#public').hide();
          });

          $('#publicviewing').on("click", function(e) {
              console.log("Selecting public viewing.");
              var $tgt = $(e.target);
              if($tgt.prop("checked")) {
                $('#pubcomments').show();
              } else {
                $('#pubcomments').hide();
              }
          });

          $('input[name="format"][value="public"]').click();
          $('#pubcomments').hide();

          $('#createcancelbutton').on("click", function() {
              console.log("Inside quit button.");
              history.back();
          })

          $('#createsubmitbutton').on("click", function() {
              console.log("Inside submit button.");
              history.back();
          })
      });
  </script>
</head>

<div id="postlayout">
  <div id="create">
    <form action="<%= new_topic_path %>" method="post">
      <b>Create:</b>
      <%= radio_button_tag('type', 'opinion', true)%>
      <%= label_tag('type', 'Opinion') %>
      <%= radio_button_tag('type', 'initiator') %>
      <%= label_tag('type', 'Initiator') %>
      <%= radio_button_tag('type', 'comment') %>
      <%= label_tag('type', 'Comment') %>

      <div style="margin-top: 10px;">
        <div>
          <span class="submit_text message_text">In my opinion:</span>
          <textarea rows="1" cols="100" placeholder="Enter opinion here..."></textarea>
        </div>
      </div>
      <div style="margin-top: 5px;">
        <div>
          <span class="submit_text support_text">Support (Optional), </span>
          <textarea rows="5" cols="100" placeholder="Enter attachments, supporting information, clarification, rationale and external links here..."></textarea>
        </div>
      </div>

      <div style="margin-top: 10px;">
        <b>Format:</b>
        <%= radio_button_tag 'format', 'public', true%>
        <%= label_tag 'format', 'Public' %>
        <%= radio_button_tag 'format', 'private' %>
        <%= label_tag 'format', 'Private' %>
      </div>

      <div id=public>
        <%= check_box_tag 'lone_wolf' %>
        <%= label_tag 'Lone_wolf?' %>
      </div>

      <div id=private>
        <div id="teams">
          <%= check_box_tag 'teams', 'teams', false %>
          <%= label_tag 'Teams?' %>
        </div>
        <div id="pubviewing">
          <%= check_box_tag 'publicviewing', 'pv', false %>
          <%= label_tag 'Public Viewing?' %>
        </div>
        <div id="pubcomments">
          <%= check_box_tag 'publiccomments', 'pc', false %>
          <%= label_tag 'Public Comments?' %>
        </div>
      </div>

      <div class="divider"><hr size="2" noshade></div>

      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div style="margin-top: 10px;">
        <button             name="Cancel" type="button" id="createcancelbutton">Cancel</button>
        <button class=right name="Submit" type="button" id="createsubmitbutton">Submit</button>
      </div>
    </form>
  </div>
</div>