<head>
	<script type="text/javascript">

		var verbosity = <%= current_prover.verbosity %>

		$(function () {
			$('#lessmaster').on("click", function () {
				if (verbosity > 1) {
					verbosity -= 1;
				}

				switch (verbosity) {
					case 4:
						$('.vlevelindicator4').show();
						$('.vlevelindicator5').hide();
						$('.vlevel5').fadeOut();
						break;
					case 3:
						$('.vlevelindicator3').show();
						$('.vlevelindicator4').hide();
						$('.vlevel4').fadeOut();
						break;
					case 2:
						$('.vlevelindicator2').show();
						$('.vlevelindicator3').hide();
						$('.postimage').fadeOut();
						$('.vlevel3').fadeOut();
						break;
					case 1:
					default:
						$('.vlevelindicator1').show();
						$('.vlevelindicator2').hide();
						$('.vlevel2').fadeOut();
						break;
				}

				console.log("verbosity level is now " + verbosity)
			});

			$('#moremaster').on("click", function () {

				if (verbosity < 5) {
					verbosity += 1;
				}

				switch (verbosity) {
					case 5:
						$('.vlevelindicator4').hide();
						$('.vlevelindicator5').show();
						$('.vlevel5').fadeIn();
						break;
					case 4:
						$('.vlevelindicator3').hide();
						$('.vlevelindicator4').show();
						$('.vlevel4').fadeIn();
						break;
					case 3:
						$('.vlevelindicator2').hide();
						$('.vlevelindicator3').show();
						$('.postimage').fadeIn();
						$('.vlevel3').fadeIn();
						break;
					case 2:
					default:
						$('.vlevelindicator1').hide();
						$('.vlevelindicator2').show();
						$('.vlevel2').fadeIn();
						break;
				}

				console.log("verbosity level is now " + verbosity)
			});

			$('#lesspost').on("click", function () {
				console.log("Decreasing post verbosity.");
			});

			$('#morepost').on("click", function () {
				console.log("Increasing post verbosity.");
			});

			$(function () {
				switch (verbosity) {
					case 5:
						console.log("Showing verbosity level 5.");
						$('.vlevelindicator1').hide();
						$('.vlevelindicator2').hide();
						$('.vlevelindicator3').hide();
						$('.vlevelindicator4').hide();
						$('.vlevelindicator5').show();
						$('.vlevel1').show();
						$('.vlevel2').show();
						$('.vlevel3').show();
						$('.vlevel4').show();
						$('.vlevel5').show();
						$('.postimage').show();
						break;
					case 4:
						console.log("Showing verbosity level 4.");
						$('.vlevelindicator1').hide();
						$('.vlevelindicator2').hide();
						$('.vlevelindicator3').hide();
						$('.vlevelindicator4').show();
						$('.vlevelindicator5').hide();
						$('.vlevel1').show();
						$('.vlevel2').show();
						$('.vlevel3').show();
						$('.vlevel4').show();
						$('.vlevel5').hide();
						$('.postimage').show();
						break;
					case 3:
						console.log("Showing verbosity level 3.");
						$('.vlevelindicator1').hide();
						$('.vlevelindicator2').hide();
						$('.vlevelindicator3').show();
						$('.vlevelindicator4').hide();
						$('.vlevelindicator5').hide();
						$('.vlevel1').show();
						$('.vlevel2').show();
						$('.vlevel3').show();
						$('.vlevel4').hide();
						$('.vlevel5').hide();
						$('.postimage').show();
						break;
					case 2:
						console.log("Showing verbosity level 2.");
						$('.vlevelindicator1').hide();
						$('.vlevelindicator2').show();
						$('.vlevelindicator3').hide();
						$('.vlevelindicator4').hide();
						$('.vlevelindicator5').hide();
						$('.vlevel1').show();
						$('.vlevel2').show();
						$('.vlevel3').hide();
						$('.vlevel4').hide();
						$('.vlevel5').hide();
						$('.postimage').hide();
						break;
					case 1:
					default:
						console.log("Showing verbosity level 1.");
						$('.vlevelindicator1').show();
						$('.vlevelindicator2').hide();
						$('.vlevelindicator3').hide();
						$('.vlevelindicator4').hide();
						$('.vlevelindicator5').hide();
						$('.vlevel1').show();
						$('.vlevel2').hide();
						$('.vlevel3').hide();
						$('.vlevel4').hide();
						$('.vlevel5').hide();
						$('.postimage').hide();
				}
			});
		});

		$(function() {

			$('#cancelopinionreply').on("click", function () {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#cancelinitiatorreply').on("click", function () {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#cancelcommentreply').on("click", function () {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});


			$('input[name="kidtype"]').on('click', function (e) {
				var $tgt = $(e.target);
				if ($tgt.val() == "<%= Post::COMMENT %>") {
					console.log("kidtype = comment");
					history.pushState('', '', window.location.toString().replace("opinion", "comment"));
					$('.opinion').hide();
					$('.comment').show();

					<% if @post.comment_repliable %>
						$('#createkid').show();
					<% else %>
						$('#createkid').hide();
					<% end %>
				} else if ($tgt.val() == "<%= Post::OPINION %>") {
					console.log("kidtype = opinion");
					history.pushState('', '', window.location.toString().replace("comment", "opinion"));
					$('.opinion').show();
					$('.comment').hide();

					<% if @post.opinion_repliable %>
						$('#createkid').show();
					<% else %>
						$('#createkid').hide();
					<% end %>
				} else if ($tgt.val() == "<%= Post::INITIATOR %>") {
					console.log("kidtype = initiator");
					history.pushState('', '', window.location.toString().replace("comment", "opinion"));
					$('.opinion').show();
					$('.comment').hide();

					<% if @post.opinion_repliable %>
					$('#createkid').show();
					<% else %>
					$('#createkid').hide();
					<% end %>
				} else {
					console.log("Clicking unknown kidtype: " + $tgt.val());
				}
			});

			$('#createkid').on("click", function () {
				$('#kids').hide();

				var $type = '<%= @post.kind %>';
				switch ($type) {
					case '<%= Post::OPINION %>':
						console.log("opinion!");
						if ($('#kidtype_comment').is(':checked')) {
							$('#commentreply').show();
						} else {
							$('#opinionreply').show();
						}
						break;
					case '<%= Post::INITIATOR %>':
						console.log("initiator!");
						if ($('#kidtype_comment').is(':checked')) {
							$('#commentreply').show();
						} else {
							$('#initiatorreply').show();
						}
						break;
					case '<%= Post::COMMENT %>':
						console.log("comment!");
						$('#commentreply').show();
						break;
					default:
						console.log("Unknown post type");
						break;
				}
			});



			$('#expand').on("click", function () {
				$.ajax({
					url: '/toggleoffspringsetting',
					type: 'POST',
					success: function(resp) {
						console.log("Expanding offspring.");
						window.location.reload();
					}
				})
				$('#expand').hide();
				$('#collapse').show();

				return false;
			});

			$('#collapse').on("click", function () {
				$.ajax({
					url: '/toggleoffspringsetting',
					type: 'POST',
					success: function(resp) {
						console.log("Collapsing offspring.");
						window.location.reload();
					}
				})
				$('#expand').show();
				$('#collapse').hide();

				return false;
			});

			$('.deletepost').on("click", function (e) {
				var $tgt = $(e.target);
				console.log ("Deleting post");
				var $parent = $($tgt.parent());
				$.ajax({
					url: '/posts/' + $parent.attr("data-post"),
					type: 'DELETE',
					success: function(resp) {
						console.log("Deleted this post.");
						window.location.reload();
					}
				})

				return false;
			});

			$('.like').on("click", function (e) {
				var $tgt = $(e.target);
				var $parent = $($tgt.parent());
				$.ajax({
					url: '/likes?' + $.param({"prover": <%= current_prover.id %>, "post": $parent.attr("data-post")}),
					type: 'POST',
					success: function(resp) {
						console.log("Liked this post.");
						window.location.reload();
					}
				})

				return false;
			});

			$('.unlike').on("click", function (e) {
				var $tgt = $(e.target);
				var $parent = $($tgt.parent());
				$.ajax({
					url: '/likes?' + $.param({"prover": <%= current_prover.id %>, "post": $parent.attr("data-post")}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Unliked this post.");
						window.location.reload();
					}
				})

				return false;
			});

			$('input[name="kidtype"][value="<%= @kidtype %>"]').click();

			$('#kidtype').show();
			$('#kids').show();
			$('#commentreply').hide();
			$('#opinionreply').hide();
			$('#initiatorreply').hide();

			<% if current_prover.offspring_style == Prover::COLLAPSED %>
				$('#expand').show();
				$('#collapse').hide();
			<% else %>
				$('#expand').hide();
				$('#collapse').show();
			<% end %>

		});
	</script>
</head>

<body>
  <div class="sidepadding spacing">
    <%= link_to 'Home', root_path %>
    <%= link_to_unless @post.parent == nil, 'Parent', @post.parent %>
    <%= link_to_unless @post.parent == nil, 'Root', @post.topic.root %>

 	  <div class="right" style="margin-right: 5px;">
			<%= link_to "Less", "#", :id => "lessmaster"%>
			<span class="vlevelindicator1"><1></span>
			<span class="vlevelindicator2"><2></span>
			<span class="vlevelindicator3"><3></span>
			<span class="vlevelindicator4"><4></span>
			<span class="vlevelindicator5"><5></span>
			<%= link_to "More", "#", :id => "moremaster"%>
    </div>
	</div>

	<%= render partial: "application/post", object: @post, locals: {indent: 0, kind: ""} %>

  <div class="toppadding20 sidepadding">
		<hr size="2" noshade>
	</div>

  <div id="kids" class="toppadding10">
    <div id= "kidtype" class="sidepadding spacing">
			<%= link_to "Reply", "#", :id => "createkid" %>
			<%= link_to "Collapse", "#", :id => "collapse" %>
			<%= link_to "Expand", "#", :id => "expand" %>
			<div class="right sidepadding">
				<%= genpostbuttons(@post) %>
			</div>
	  </div>

	  <div class="toppadding10">
			<%= render partial: "application/kids", object: @kids, locals: {indent: 0} %>
	  </div>
  </div>

	<div id="replies" class="sidepadding toppadding20">
		<div id="opinionreply">
			<form action="<%= posts_path %>" method="post">
				<div style="display: flex; flex-direction: row; justify-content: space-between">
					<b>Objection Type:</b>
					<div>
						<%= radio_button_tag(:type, "manual", true)%>
						<%= label_tag(:type, "Manual") %>
						<%= radio_button_tag(:type, "fallacy") %>
						<%= label_tag(:type, "Fallacy") %>
						<%= radio_button_tag(:type, "inconclusive") %>
						<%= label_tag(:type, "Inconclusive") %>
						<%= radio_button_tag(:type, "ambiguous") %>
						<%= label_tag(:type, "Ambiguous") %>
						<%= radio_button_tag(:type, "irrelevant") %>
						<%= label_tag(:type, "Irrelevant") %>
						<%= radio_button_tag(:type, "duplicate") %>
						<%= label_tag(:type, "Duplicate") %>
						<%= radio_button_tag(:type, "mediationrequest") %>
						<%= label_tag(:type, "Mediation Request") %>
					</div>
				</div>
				<div class="toppadding10">
					<div class="submit_text message_text">
						In my opinion:
					</div>
					<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter objection here. Be as concise as possible."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_text">
						Support (Optional):
					</div>
					<textarea class="message message_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional rationale, clarification and supporting information here."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_url">
						URL (Optional):
					</div>
					<textarea class="message support_placeholder" name="url" rows="1" cols="100" placeholder="Enter related link here."></textarea>
				</div>

				<div>
					<hr size="2" noshade>
				</div>

				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= hidden_field_tag :parentpost, @post.id %>
				<%= hidden_field_tag :topic, @post.topic.id %>
				<%= hidden_field_tag :kind, Post::OPINION %>
				<%= hidden_field_tag :kidtype, Post::OPINION %>

				<div class="toppadding10">
					<%= submit_tag("Submit")%>
					<button class="right sidepadding" name="Cancel" type="button" id="cancelopinionreply">
						Cancel
					</button>
				</div>
			</form>
		</div>

		<div id="initiatorreply">
			<div id="create">
				<form action="<%= posts_path %>" method="post">

					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<%= hidden_field_tag :parentpost, @post.id %>
					<%= hidden_field_tag :topic, @post.topic.id %>
					<%= hidden_field_tag :kind, Post::OPINION %>
					<%= hidden_field_tag :kidtype, Post::INITIATOR %>

					<div class="toppadding10">
						<div class="submit_text message_text">
							Opinion:
						</div>
						<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter opinion here."></textarea>
					</div>
					<div class="toppadding5">
						<div class="submit_text support_text">
							Support (Optional):
						</div>
						<textarea class="message message_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional supporting information here."></textarea>
					</div>
					<div class="toppadding5">
						<div class="submit_text support_url">
							URL (Optional):
						</div>
						<textarea class="message support_placeholder" name="url" rows="1" cols="100" placeholder="Enter related link here."></textarea>
					</div>

					<div>
						<hr size="2" noshade>
					</div>

					<div class="toppadding10">
						<%= submit_tag("Submit")%>
						<button class="right sidepadding" name="Cancel" type="button" id="cancelinitiatorreply">
							Cancel
						</button>
					</div>

				</form>
			</div>
		</div>

		<div id="commentreply">
			<form action="<%= posts_path %>" method="post">

				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= hidden_field_tag :parentpost, @post.id %>
				<%= hidden_field_tag :topic, @post.topic.id %>
				<%= hidden_field_tag :kind, Post::COMMENT %>
				<%= hidden_field_tag :kidtype, Post::COMMENT %>

				<div class="toppadding10">
					<div class="submit_text message_text">
						Comment:
					</div>
					<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter comment here."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_text">
						Support (Optional):
					</div>
					<textarea class="message message_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional supporting information here."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_url">
						URL (Optional):
					</div>
					<textarea class="message support_placeholder" name="url" rows="1" cols="100" placeholder="Enter related link here."></textarea>
				</div>

				<div>
					<hr size="2" noshade>
				</div>

				<div class="toppadding10">
					<%= submit_tag("Submit")%>
					<button class="right sidepadding" name="Cancel" type="button" id="cancelcommentreply">
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</body>