<body>
  <div class="sidepadding spacing">
    <%= link_to 'Home', root_path %>
    <%= link_to_unless @post.parent == nil, 'Parent', @post.parent %>
		<%= link_to_unless @post.parent == nil,  'Root', top(@post) %>

 	  <div class="right" style="margin-right: 5px;">
			<%= link_to "Less", "#", :id => "lessmaster"%>
			<span class="verbosity"></span>
			<%= link_to "More", "#", :id => "moremaster"%>
    </div>
	</div>

	<%= render partial: "application/post", object: @post, locals: {indent: 0, kind: "", featured: "true"} %>

  <div class="toppadding20 sidepadding">
		<hr size="2" noshade>
	</div>

  <div id="kids" class="toppadding10">
    <div id= "kidtype" class="sidepadding spacing">
			<% if @post.lockedby == nil %>
				<%= link_to "Reply", "#", :id => "createkid", :data => {:id => @post.id, :kind => @post.kind} %>
 				<% if (@kids.empty? && (@post.prover == current_prover || current_prover.administrator )) || current_prover.administrator %>
					<%= link_to "Edit", "#", :id => "editpost", :data => {:id => @post.id, :kind => @post.kind} %>
				<% end %>
			<% end %>
			<%= link_to "Collapse", "#", :action => "hide", :id => "collapse" %>
			<%= link_to "Expand", "#", :action => "hide", :id => "expand" %>
			<div class="right sidepadding">
				<%= genpostbuttons(@post) %>
			</div>
	  </div>

	  <div class="toppadding10">
			<%= render partial: "application/kids", object: @kids, locals: {indent: 0} %>
	  </div>
  </div>

	<div id="postreply" class="sidepadding toppadding20">
		<form action="<%= posts_path %>" method="post">
			<div id="objectiontypeline" style="display: flex; flex-direction: row; justify-content: flex-start">
				<div id="objectiontypelabel" style="width:14%">
					<b>Reply Type:</b>
				</div>
				<div>
					<%= radio_button_tag(:objectiontype, "manual", true)%>
					<%= label_tag(:objectiontype, "Manual") %>
					<%= radio_button_tag(:objectiontype, "fallacy") %>
					<%= label_tag(:objectiontype, "Template") %>
					<%= radio_button_tag(:objectiontype, "mediationrequest") %>
					<%= label_tag(:objectiontype, "Mediation Request") %>
				</div>
			</div>

			<div id="templates">
				<div class="toppadding10">
					<div class="submit_text" id="templatefolder">
						Templates:
					</div>
					<div class="flexContainer_row_center_start">
						<textarea id="templatekeyword" class="message" name="keywords" rows="1" cols="30" placeholder="Enter keyword here."></textarea>
						&nbsp <button name="Filter" type="button" id="filtertemplates">
						Search
					</button>
					</div>
				</div>

				<div id="fallacy" class="toppadding5" style="margin-left:14%">
					<% results = @fallacies + @subfolders %>
					<% results = results.sort { |a, b| a.name <=> b.name } %>
					<%= select_tag 'fallacylist', options_from_collection_for_select(results, "id", "name"), :class => 'fallacies', :size => 6, :style => 'overflow-y: auto; width: 100%' %> &nbsp &nbsp
				</div>
			</div>

			<div class="toppadding10">
				<div id="replymessagelabel" class="submit_text message_text">
					Message:
				</div>
				<textarea id="message" class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter objection here. Be as concise as possible."></textarea>
			</div>
			<div class="toppadding5">
				<div id="replysupportlabel" class="submit_text support_text">
					Support:
				</div>
				<textarea id="support" class="message message_placeholder" name="support" rows="10" cols="100" placeholder="For an opinion to be true it must be supported by valid justification."></textarea>
			</div>
			<div class="toppadding5">
				<div id="replyurllabel" class="submit_text support_url">
					URL (Optional):
				</div>
				<textarea id="url" class="message support_placeholder" name="url" rows="1" cols="100" placeholder="Enter related link here."></textarea>
			</div>

			<div>
				<hr size="2" noshade>
			</div>

			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= hidden_field_tag :parentpost, @post.id %>
			<%= hidden_field_tag :topic, @post.topic.id %>
			<%= hidden_field_tag :kind %>
			<%= hidden_field_tag :replyoredit %>

			<div class="toppadding10">
				<%= submit_tag("Submit")%>
				<button class="right sidepadding" name="Cancel" type="button" id="cancelreply">
					Cancel
				</button>
			</div>
		</form>
	</div>
</body>