<head>
	<script type="text/javascript">
		$(function() {

			$('#type_opinion').on("click", function () {
				console.log("Now we're in opinion mode.");
				$(".submit_text.message_text").text("In my opinion:");
				$(".submit_text.support_text").text("Support (Optional):");
				document.getElementsByClassName('message message_placeholder')[0].placeholder = 'Enter opinion here. Be as concise as possible.';
				document.getElementsByClassName('message support_placeholder')[0].placeholder = 'Enter additional rationale, clarification, supporting information, and external links here.';
			});

			$('#type_initiator').on("click", function () {
				console.log("Now we're in initiator mode.");
				$(".submit_text.message_text").text("Initiator:");
				$(".submit_text.support_text").text("Support (Optional):");
				document.getElementsByClassName('message message_placeholder')[0].placeholder = 'Enter thought provoking question, comment, quote or directive here. Be as concise as possible.';
				document.getElementsByClassName('message support_placeholder')[0].placeholder = 'Enter attachments, clarification, supporting information, and external links here.';
			});

			$('#type_comment').on("click", function () {
				console.log("Now we're in comment mode.");
				$(".submit_text.message_text").text("Comment:");
				$(".submit_text.support_text").text("Support (Optional): ");
				document.getElementsByClassName('message message_placeholder')[0].placeholder = 'Enter comment here.';
				document.getElementsByClassName('message support_placeholder')[0].placeholder = 'Enter additional information and/or attachments here.';
			});

			$('#format_public').on("click", function () {
				console.log("Selecting public.");
				$('#private').hide();
				$('#public').show();
			});

			$('#format_private').on("click", function () {
				console.log("Selecting private.");
				$('#private').show();
				$('#public').hide();
			});

			$('#publicviewing').on("click", function (e) {
				console.log("Selecting public viewing.");
				var $tgt = $(e.target);
				if ($tgt.prop("checked")) {
					$('#pubcomments').show();
				} else {
					$('#pubcomments').hide();
				}
			});

			$('input[name="format"][value="public"]').click();

			$('#pubcomments').hide();

			$('#createcancelbutton').on("click", function () {
				console.log("Selecting quit button.");
				history.back();
			});

			$('#cancelopinionreply').on("click", function () {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#cancelinitiatorreply').on("click", function () {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#cancelcommentreply').on("click", function () {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#replysubmitbutton').on("click", function () {
				history.back();
			});

			$('input[name="kidtype"]').on('click', function (e) {
				console.log("click!");
				var $tgt = $(e.target);
				if ($tgt.val() == "<%= Post::COMMENT %>") {
					console.log("kidtype = comment");
					$('.opinion').hide();
					$('.comment').show();
				} else if ($tgt.val() == "<%= Post::OPINION %>") {
					console.log("kidtype = opinion");
					$('.opinion').show();
					$('.comment').hide();
				} else if ($tgt.val() == "<%= Post::INITIATOR %>") {
					console.log("kidtype = initiator");
					$('.opinion').show();
					$('.comment').hide();
				} else {
					console.log("Clicking unknown kidtype: " + $tgt.val());
				}
			});

			$('#createkid').on("click", function () {
				$('#kids').hide();

				var $type = '<%= @post.kind %>';
				switch ($type) {
					case '<%= Post::OPINION %>':
						console.log("opinion!");
						if ($('#kidtype_comment').is(':checked')) {
							$('#commentreply').show();
						} else {
							$('#opinionreply').show();
						}
						break;
					case '<%= Post::INITIATOR %>':
						console.log("initiator!");
						if ($('#kidtype_comment').is(':checked')) {
							$('#commentreply').show();
						} else {
							$('#initiatorreply').show();
						}
						break;
					case '<%= Post::COMMENT %>':
						console.log("comment!");
						$('#commentreply').show();
						break;
					default:
						console.log("Unknown post type");
						break;
				}
			});

			var verbosity = <%= current_prover.verbosity %>

				$(function () {
					$('#lessmaster').on("click", function () {
						console.log("Decreasing verbosity level")
						if (verbosity > 1) {
							verbosity -= 1;
						}

						switch (verbosity) {
							case 3:
								console.log("level 3.");
								$('.vlevel4').hide();
								break;
							case 2:
								console.log("level 2.");
								$('.vlevel3').hide();
								break;
							case 1:
								console.log("level 1.");
								$('.vlevel2').hide();
								break;
							case 1:
							default:
								console.log("Can not hide verbosity level 1.");
								break;
						}
					});

					$('#moremaster').on("click", function () {
						console.log("Increasing verbosity level")

						if (verbosity < 4) {
							verbosity += 1;
						}

						switch (verbosity) {
							case 4:
								console.log("level 4.");
								$('.vlevel4').show();
								break;
							case 3:
								console.log("level 3.");
								$('.vlevel3').show();
								break;
							case 2:
							default:
								console.log("level 2.");
								$('.vlevel2').show();
								break;
						}
					});

					$('#lesspost').on("click", function () {
						console.log("Decreasing post verbosity.");
					});

					$('#morepost').on("click", function () {
						console.log("Increasing post verbosity.");
					});

					$('#follow').on("click", function () {
						console.log("Following...");
					});

					$(function () {
						switch (verbosity) {
							case 4:
								console.log("Showing verbosity level 4.");
								$('.vlevel1').show();
								$('.vlevel2').show();
								$('.vlevel3').show();
								$('.vlevel4').show();
								break;
							case 3:
								console.log("Showing verbosity level 3.");
								$('.vlevel1').show();
								$('.vlevel2').show();
								$('.vlevel3').show();
								$('.vlevel4').hide();
								break;
							case 2:
								console.log("Showing verbosity level 2.");
								$('.vlevel1').show();
								$('.vlevel2').show();
								$('.vlevel3').hide();
								$('.vlevel4').hide();
								break;
							case 1:
							default:
								console.log("Showing verbosity level 1.");
								$('.vlevel1').show();
								$('.vlevel2').hide();
								$('.vlevel3').hide();
								$('.vlevel4').hide();
						}
					});
				});

			$('#expand').on("click", function () {
				console.log("Expanding kids")
//				$('.one').show();
//				$('.two').show();
//				$('.three').show();
//				$('.four').show();
//				$('.five').show();
//				$('.six').show();
//				$('.seven').show();
//				$('.eight').show();
//				$('.nine').show();
//				$('.ten').show();
//				$('.eleven').show();
//				$('.twelve').show();
//				$('#collapse').show();
//				$('#expand').hide();
			});

			$('#collapse').on("click", function () {
				console.log("Collapsing kids")
//				$('.one').hide();
//				$('.two').hide();
//				$('.three').hide();
//				$('.four').hide();
//				$('.five').hide();
//				$('.six').hide();
//				$('.seven').hide();
//				$('.eight').hide();
//				$('.nine').hide();
//				$('.ten').hide();
//				$('.eleven').hide();
//				$('.twelve').hide();
//				$('#collapse').hide();
//				$('#expand').show();
			});

			$('input[name="kidtype"][value="<%= @defaultkidtype %>"]').click();

			$('#kidtype').show();
			$('#kids').show();
			$('#commentreply').hide();
			$('#opinionreply').hide();
			$('#initiatorreply').hide();

//			if (<%= current_prover.offspring_style %> == <%= Prover::COLLAPSED %>) {
//				$('#collapse').hide();
//				$('#expand').show();
//			};
//
//			if (<%= current_prover.offspring_style %> == <%= Prover::EXPANDED %>) {
//				$('#collapse').show();
//				$('#expand').hide();
//			};
		});
	</script>
</head>

<div class="mainbody">
  <div class="sidepadding spacing">
    <%= link_to 'Home', root_path %>
    <%= link_to_unless @post.parent == nil, 'Parent', @post.parent %>
    <%= link_to_unless @post.parent == nil, 'Root', @post.topic.root_id %>

 	  <div class="right" style="margin-right: 5px;">
			<%= link_to "Less", "#", :id => "lessmaster"%>
			<%= link_to "More", "#", :id => "moremaster"%>
    </div>
	</div>

  <div class="post <%= status_color(@post) %>">
    <div class="vlevel2 sidepadding">
			<% tmp = @post.prover.provername.downcase + " (" + @post.prover.first_name + " " + @post.prover.last_name + ")" %>
			<%= link_to tmp, @post.prover %>, &nbsp
      <%= @post.prover.rating.round(2) %>, &nbsp
			<a href="#" id="follow">Follow</a>
			<div class="right">
				<%= @post.created_at.strftime("%c") %>
			</div>
    </div>
    <div class="vlevel1 sidepadding">
      <em><span class="message">
				<%= @post.message %>
			</span></em>
      <div class="right spacing">
				<%= link_to "Less", "#", :id => "lesspost"%>
				<%= link_to "More", "#", :id => "morepost"%>
			</div>
    </div>
    <div class="vlevel3 sidepadding">
      <%= offspring(@post) %> &nbsp
      <%= @post.views %> views, &nbsp
      <%= level(@post) %> &nbsp
			<a href="#" id="bookmark">Bookmark</a>
      <div class="right">
				<%= @post.updated_at.strftime("%c") %>
			</div>
    </div>
		<div class="vlevel4 sidepadding">
			<%= @post.support %>
		</div>
	</div>

  <div class="toppadding20 sidepadding">
		<hr size="2" noshade>
	</div>

  <div id="kids" class="toppadding10">
    <div id= "kidtype" class="sidepadding spacing">
			<a href="#" id="createkid">Reply</a>
			<%= link_to "Collapse", @post, :id => "collapse" %>
			<%= link_to "Expand", @post, :id => "expand" %>
			<div class="right sidepadding">
				<%= genpostbuttons(@post) %>
			</div>
	  </div>

	  <div class="toppadding10">
			<%= render partial: "kids", object: @kids, locals: {indent: 0} %>
	  </div>
  </div>

	<div id="replies" class="sidepadding toppadding20">
		<div id="opinionreply">
			<form action="<%= posts_path %>" method="post">
				<b>Objection Type:</b>
				<div class="right sidepadding">
					<%= radio_button_tag(:type, "manual", checked=TrueClass)%>
					<%= label_tag(:type, "Manual") %>
					<%= radio_button_tag(:type, "fallacy") %>
					<%= label_tag(:type, "Fallacy") %>
					<%= radio_button_tag(:type, "inconclusive") %>
					<%= label_tag(:type, "Inconclusive") %>
					<%= radio_button_tag(:type, "ambiguous") %>
					<%= label_tag(:type, "Ambiguous") %>
					<%= radio_button_tag(:type, "irrelevant") %>
					<%= label_tag(:type, "Irrelevant") %>
					<%= radio_button_tag(:type, "duplicate") %>
					<%= label_tag(:type, "Duplicate") %>
					<%= radio_button_tag(:type, "mediationrequest") %>
					<%= label_tag(:type, "Mediation Request") %>
				</div>

				<div class="toppadding10">
					<div class="submit_text message_text">
						In my opinion:
					</div>
					<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter objection here. Be as concise as possible."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_text">
						Support (Optional):
					</div>
					<textarea class="message message_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional rationale, clarification, supporting information, attachments, and external links here."></textarea>
				</div>

				<div>
					<hr size="2" noshade>
				</div>

				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= hidden_field_tag :parentpost, @post.id %>
				<%= hidden_field_tag :topic, @post.topic.id %>
				<%= hidden_field_tag :kind, Post::OPINION %>
				<%= hidden_field_tag :defaultkidtype, Post::OPINION %>

				<div class="toppadding10">
					<%= submit_tag("Submit")%>
					<button class="right sidepadding" name="Cancel" type="button" id="cancelopinionreply">
						Cancel
					</button>
				</div>
			</form>
		</div>

		<div id="initiatorreply">
			<div id="create">
				<form action="<%= posts_path %>" method="post">

					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<%= hidden_field_tag :parentpost, @post.id %>
					<%= hidden_field_tag :topic, @post.topic.id %>
					<%= hidden_field_tag :kind, Post::OPINION %>
					<%= hidden_field_tag :defaultkidtype, Post::INITIATOR %>

					<%= render "posts/create" %>
				</form>
			</div>
		</div>

		<div id="commentreply">
			<form action="<%= posts_path %>" method="post">
				<div class="toppadding10">
					<div class="submit_text message_text">
						Comment:
					</div>
					<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter comment here."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_text">
						Support (Optional):
					</div>
					<textarea class="message message_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional supporting information, attachments and external links here..."></textarea>
				</div>

				<div>
					<hr size="2" noshade>
				</div>

				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= hidden_field_tag :parentpost, @post.id %>
				<%= hidden_field_tag :topic, @post.topic.id %>
				<%= hidden_field_tag :kind, Post::COMMENT %>
				<%= hidden_field_tag :defaultkidtype, Post::COMMENT %>

				<div class="toppadding10">
					<%= submit_tag("Submit")%>
					<button class="right sidepadding" name="Cancel" type="button" id="cancelcommentreply">
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
