<head>
	<script type="text/javascript">
		$(function() {
			$('#type_opinion').on("click", function() {
				console.log("Now we're in opinion mode.");
				$(".submit_text.message_text").text("In my opinion:");
				$(".submit_text.support_text").text("Support (Optional):");
				document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter opinion here. Be as concise as possible.';
				document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter additional rationale, clarification, supporting information, and external links here.';
			});

			$('#type_initiator').on("click", function() {
				console.log("Now we're in initiator mode.");
				$(".submit_text.message_text").text("Initiator:");
				$(".submit_text.support_text").text("Support (Optional):");
				document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter thought provoking question, comment, quote or directive here. Be as concise as possible.';
				document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter attachments, clarification, supporting information, and external links here.';
			});

			$('#type_comment').on("click", function() {
				console.log("Now we're in comment mode.");
				$(".submit_text.message_text").text("Comment:");
				$(".submit_text.support_text").text("Support (Optional): ");
				document.getElementsByClassName('message message_placeholder')[0].placeholder='Enter comment here.';
				document.getElementsByClassName('message support_placeholder')[0].placeholder='Enter additional information and/or attachments here.';
			});

			$('#format_public').on("click", function() {
				console.log("Selecting public.");
				$('#private').hide();
				$('#public').show();
			});

			$('#format_private').on("click", function() {
				console.log("Selecting private.");
				$('#private').show();
				$('#public').hide();
			});

			$('#publicviewing').on("click", function(e) {
				console.log("Selecting public viewing.");
				var $tgt = $(e.target);
				if($tgt.prop("checked")) {
					$('#pubcomments').show();
				} else {
					$('#pubcomments').hide();
				}
			});

			$('input[name="format"][value="public"]').click();
			$('#pubcomments').hide();

			$('#createcancelbutton').on("click", function () {
				console.log("Selecting quit button.");
				history.back();
			});

			$('#cancelopinionreply').on("click", function() {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#cancelinitiatorreply').on("click", function() {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#cancelcommentreply').on("click", function() {
				$('#kids').show();
				$('#opinionreply').hide();
				$('#commentreply').hide();
				$('#initiatorreply').hide();
			});

			$('#replysubmitbutton').on("click", function() {
					history.back();
			});

			$('input[name="kidtype"]').on('click', function(e) {
					console.log("click!");
					var $tgt = $(e.target);
					if($tgt.val() == 'comments') {
						console.log("kidtype = comment");
						$('.opinion').hide();
						$('.comment').show();
					} else if($tgt.val() == 'opinions') {
						console.log("kidtype = opinion");
						$('.opinion').show();
						$('.comment').hide();
					} else if($tgt.val() == 'initiators') {
						console.log("kidtype = initiator");
						$('.opinion').show();
						$('.comment').hide();
					} else {
						console.log("displaying something unknown: " + $tgt.val());
					}
			});

			$('#createkid').on("click", function() {
				$('#kids').hide();

				var $type = '<%= @post.kind %>';
				switch ($type) {
					case '<%= Post::OPINION %>':
						console.log("opinion!");
						if ($('#kidtype_comments').is(':checked')) {
							$('#commentreply').show();
						} else {
							$('#opinionreply').show();
						}
						break;
					case '<%= Post::INITIATOR %>':
						console.log("initiator!");
						if ($('#kidtype_comments').is(':checked')) {
							$('#commentreply').show();
						} else {
							$('#initiatorreply').show();
						}
						break;
					case '<%= Post::COMMENT %>':
						console.log("comment!");
						$('#commentreply').show();
						break;
					default:
						console.log("Unknown post type");
						break;
				}
			});

			$('input[name="kidtype"][value="<%= @defaultkidtype %>"]').click();

			$('#kidtype').show();
			$('#kids').show();
			$('#commentreply').hide();
			$('#opinionreply').hide();
			$('#initiatorreply').hide();
		});
	</script>
</head>

<div class="mainbody">
  <div class="sidepadding spacing">
    <%= link_to 'Home', root_path %>
    <%= link_to_unless @post.parent == nil, 'Parent', @post.parent %>
    <%= link_to_unless @post.parent == nil, 'Root', @post.topic.root_id %>

 	  <div class="right" style="margin-right: 5px;">
			<a href="#" id="refresh">Refresh(0)</a>
			<a href="#" id="moremaster">More</a>
			<a href="#" id="lessmaster">Less</a>
    </div>
	</div>

  <div id="post" class="<%= status_color(@post) %>">
    <div class="sidepadding">
      <% user = @post.user:quietly %>
      <%= user.first_name %>
      <%= user.last_name %> @
      <%= user.user_name %>,
      <%= user.rating.round(2) %>,
			<a href="#" id="follow">Follow</a>
			<div class="right">
				<%= @post.created_at.strftime("%c") %>
			</div>
    </div>
    <div class="sidepadding">
      <b><em><span class="message">
				<%= @post.message %>
			</span></em></b>
      <div class="right spacing">
				<a href="#" id="moremaster">More</a>
				<a href="#" id="lessmaster">Less</a>
			</div>
    </div>
    <div class="sidepadding">
      <%= offspring(@post) %>
      <%= @post.views %> views,
      <%= @post.points %> points,
      <%= level(@post) %>
			<a href="#" id="bookmark">Bookmark</a>
      <div class="right">
				<%= @post.updated_at.strftime("%c") %>
			</div>
    </div>
  </div>

  <div class="toppadding20 sidepadding">
		<hr size="2" noshade>
	</div>

  <div id="kids" class="toppadding10">
    <div id= "kidtype" class="sidepadding spacing">
			<a href="#" id="createkid">Reply</a>
			<a href="#" id="createtree">Tree</a>
			<div class="right sidepadding">
				<%= genpostbuttons(@post) %>
			</div>
	  </div>

	  <div class="toppadding10">
			<% @kids.each do |kid| %>
				<% user = kid.user:quietly %>
				<div id=post class="<%= status_color(kid) %> <%= kid.kind %>">
					<div class="sidepadding">
						<%= user.first_name %>
						<%= user.last_name %> @
						<%= user.user_name %>,
						<%= user.rating.round(2) %>,
						<a href="#" id="follow">Follow</a>
						<div class="right">
							<%= kid.created_at.strftime("%c") %>
						</div>
					</div>
					<div class="sidepadding">
						<em><span class="message">
							<%= link_to kid.message, kid %>
						</span></em>
						<div class="right">
							<a href="#" id="morepost">More</a>
							<a href="#" id="lesspost">Less</a>
						</div>
					</div>
					<div class="sidepadding">
						<%= offspring(kid) %>
						<%= kid.views %> views,
						<%= kid.points %> points,
						<%= level(kid) %>
						<a href="#" id="bookmark">Bookmark</a>
						<div class="right">
							<%= kid.updated_at.strftime("%c") %>
						</div>
					</div>
				</div>
			<% end %>
	  </div>
  </div>

	<div id="replies" class="sidepadding toppadding20">
		<div id="opinionreply">
			<form action="<%= posts_path %>" method="post">
				<b>Objection Type:</b>
				<div class="right sidepadding">
					<%= radio_button_tag(:type, "manual", checked=TrueClass)%>
					<%= label_tag(:type, "Manual") %>
					<%= radio_button_tag(:type, "fallacy") %>
					<%= label_tag(:type, "Fallacy") %>
					<%= radio_button_tag(:type, "inconclusive") %>
					<%= label_tag(:type, "Inconclusive") %>
					<%= radio_button_tag(:type, "ambiguous") %>
					<%= label_tag(:type, "Ambiguous") %>
					<%= radio_button_tag(:type, "irrelevant") %>
					<%= label_tag(:type, "Irrelevant") %>
					<%= radio_button_tag(:type, "duplicate") %>
					<%= label_tag(:type, "Duplicate") %>
					<%= radio_button_tag(:type, "mediationrequest") %>
					<%= label_tag(:type, "Mediation Request") %>
				</div>

				<div class="toppadding10">
					<div class="submit_text message_text">
						In my opinion:
					</div>
					<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter objection here. Be as concise as possible."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_text">
						Support (Optional):
					</div>
					<textarea class="message message_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional rationale, clarification, supporting information, attachments, and external links here."></textarea>
				</div>

				<div>
					<hr size="2" noshade>
				</div>

				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= hidden_field_tag :parentpost, @post.id %>
				<%= hidden_field_tag :topic, @post.topic.id %>
				<%= hidden_field_tag :kind, Post::OPINION %>
				<%= hidden_field_tag :defaultkidtype, Post::OPINION %>

				<div class="toppadding10">
					<%= submit_tag("Submit")%>
					<button class="right sidepadding" name="Cancel" type="button" id="cancelopinionreply">
						Cancel
					</button>
				</div>
			</form>
		</div>

		<div id="initiatorreply">
			<div id="create">
				<form action="<%= posts_path %>" method="post">

					<%= render "posts/create" %>

					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<%= hidden_field_tag :parentpost, @post.id %>
					<%= hidden_field_tag :topic, @post.topic.id %>
					<%= hidden_field_tag :kind, Post::OPINION %>
					<%= hidden_field_tag :defaultkidtype, Post::INITIATOR %>
				</form>
			</div>
		</div>

		<div id="commentreply">
			<form action="<%= posts_path %>" method="post">
				<div class="toppadding10">
					<div class="submit_text message_text">
						Comment:
					</div>
					<textarea class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter comment here."></textarea>
				</div>
				<div class="toppadding5">
					<div class="submit_text support_text">
						Support (Optional):
					</div>
					<textarea class="message message_placeholder" name="support" rows="5" cols="100" placeholder="Enter additional supporting information, attachments and external links here..."></textarea>
				</div>

				<div>
					<hr size="2" noshade>
				</div>

				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= hidden_field_tag :parentpost, @post.id %>
				<%= hidden_field_tag :topic, @post.topic.id %>
				<%= hidden_field_tag :kind, Post::COMMENT %>
				<%= hidden_field_tag :defaultkidtype, Post::COMMENT %>

				<div class="toppadding10">
					<%= submit_tag("Submit")%>
					<button class="right sidepadding" name="Cancel" type="button" id="cancelcommentreply">
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
