<head>
	<script type="text/javascript">
		$(proverLoad);
	</script>
</head>

<body>
	<div id="userprofiletabs">
		<div class="sidepadding">
			<%= link_to 'Home', root_path %>
			<div class="right sidepadding">

				<%= radio_button_tag(:profile, "profile") %>
				<%= label_tag(:profile, "Profile") %>
				<%= radio_button_tag(:profile, "posts") %>
				<%= label_tag(:profile, "Posts") %>
				<%= radio_button_tag(:profile, "account") if @owner  %>
				<%= label_tag(:profile, "Account") if @owner %>
				<%= radio_button_tag(:profile, "password") if @owner %>
				<%= label_tag(:profile, "Password") if @owner %>
				<%= radio_button_tag(:profile, "settings") if @owner %>
				<%= label_tag(:profile, "Settings") if @owner %>
				<%= radio_button_tag(:profile, "filters") if @owner %>
				<%= label_tag(:profile, "Filters") if @owner %>
				<%= radio_button_tag(:profile, "mobile") if @owner %>
				<%= label_tag(:profile, "Mobile") if @owner %>
				<%= radio_button_tag(:profile, "email") if @owner %>
				<%= label_tag(:profile, "Email") if @owner %>
				<%= radio_button_tag(:profile, "apps") if @owner %>
				<%= label_tag(:profile, "Apps") if @owner %>
				<%= radio_button_tag(:profile, "rating") %>
				<%= label_tag(:profile, "Rating") %>
				<% if current_prover.administrator? %>
					<%= radio_button_tag(:profile, "administrative") if @owner %>
					<%= label_tag(:profile, "Administrative") if @owner %>
				<% end %>
			</div>
		</div>

		<div class="profilepage">
			<div id="profilename">
				<%= @prover.provername %>
				(<%= @prover.first_name %>
				<%= @prover.last_name %>) &nbsp
				<% if !@owner %>
					<% if already_following(@prover.id) %>
						<%= link_to "Unfollow", "#", :class => "unfollow fontsize10", :data => {:prover_id => "#{@prover.id}"} %>
					<% else %>
						<%= link_to "Follow", "#", :class => "follow fontsize10", :data => {:prover_id => "#{@prover.id}"} %>
					<% end %>
				<% end %>
			</div>

			<div id="profileprofile">

				<%= form_for @prover do |prover_form| %>

					<%= image_tag(@prover.image_url, :class => "profileproverimage") %>

					<% if @owner %>
						<div id="profileprofilefields1">
							Change profile photo: &nbsp
							<%= prover_form.file_field :profile_image %>
						</div>
					<% end %>

					<div id="profileprofilefields2">
						<div>First Name: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="first_name" rows="1"><%= @prover.first_name %></textarea></div>
						<div>Last Name: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="last_name"  rows="1"><%= @prover.last_name %></textarea></div>
						<div>Username: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="username"  rows="1"><%= @prover.provername %><%= "(Administrator)" if @prover.administrator %></textarea></div>
						<div>Email: <textarea disabled class="message profiletextfield1" name="emailaddress"  rows="1"><%= @prover.email %></textarea></div>
						<div>Location: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="location" rows="1"><%= @prover.location %></textarea></div>
						<div>Occupation: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="occupation" rows="1"><%= @prover.occupation %></textarea></div>
						<div>Education: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="education" rows="1"><%= @prover.education %></textarea></div>
						<div>Joined: <textarea disabled class="message profiletextfield1" name="joined" rows="1"><%= @prover.created_at %></textarea></div>
						<div>Member #: <textarea disabled class="message profiletextfield1" name="userid" rows="1"><%= @prover.id %></textarea></div>
					</div>

					<div id="profileprofilefields3">
						<div>About Me: <textarea <%= "disabled" if !@owner %> class="message profiletextfield2" name="aboutme" rows="10"><%= @prover.aboutme %></textarea></div>
					</div>

					<% if @owner %>
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<div class="toppadding10 sidepadding">
							<%= submit_tag("Save") %>
						</div>
					<% end %>
				<% end %>

			</div>

			<div id="profileposts">
				<div class="profilepagediv1">
					<li>Opinions: <%= @opinions.count %>
					<li>Objections: <%= @objections.count %>
					<li>Initiators: <%= @initiators.count %>
					<li>Comments: <%= @comments.count %>
				</div>
			</div>

			<div id="profileaccount">
				Profile Account
			</div>

			<div id="profilepassword">
				Profile Password
			</div>

			<div id="profilesettings">
				<%= form_for @prover do |prover_form| %>
					<div class="profilepagediv1">
						<b>Defaults:</b>
						<div class="profilepagediv2">
							<b>Verbosity:</b>
							<%= radio_button_tag(:verbosity, 1) %>
							<%= label_tag(:verbosity, "1") %>
							<%= radio_button_tag(:verbosity, 2) %>
							<%= label_tag(:verbosity, "2") %>
							<%= radio_button_tag(:verbosity, 3) %>
							<%= label_tag(:verbosity, "3") %>
							<%= radio_button_tag(:verbosity, 4) %>
							<%= label_tag(:verbosity, "4") %>
							<%= radio_button_tag(:verbosity, 5) %>
							<%= label_tag(:verbosity, "5") %>
						</div>

						<div class="profilepagediv2">
							<b>Offspring:</b>
							<%= radio_button_tag(:offspring_style, "collapsed") %>
							<%= label_tag(:offspring_style, "Collapsed") %>
							<%= radio_button_tag(:offspring_style, "expanded") %>
							<%= label_tag(:offspring_style, "Expanded") %>
						</div>

						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<div class="toppadding10 sidepadding">
							<%= submit_tag("Save") %>
						</div>
					</div>
				<% end %>

				<div class="profilepagediv1">
					<b>Lists:</b>
					<div class="profilepagediv2">
						<div id="following">
							<b>Following:</b> &nbsp
							<% if @follows.count > 0 %>
								<%= select_tag 'following_dropdown', options_from_collection_for_select(@follows, "follows_id", "follows_name") %> &nbsp
								<%= link_to "Unfollow", "#", :class => "unfollow fontsize10", :data => {:current_prover_id => "#{@prover.id}"} %>
							<% else %>
								You are not following anyone right now.
							<% end %>
						</div>
					</div>

					<div class="profilepagediv2">
						<div id="followers">
							<b>Followed By:</b> &nbsp
							<% if @followed.count > 0 %>
								<%= select_tag 'followers_dropdown', options_from_collection_for_select(@followed, "owner_id", "owner_name") %> &nbsp
								<%= link_to "Remove", "#", :class => "unfollowedby fontsize10", :data => {:current_prover_id => "#{@prover.id}"} %>
							<% else %>
								No one is following you right now.
							<% end %>
						</div>
					</div>

					<div class="profilepagediv2">
						<div id="bookmark">
							<b>Bookmarks:</b> &nbsp
							<% if @bookmarks.count > 0 %>
								<%= select_tag 'bookmark_dropdown', options_from_collection_for_select(@bookmarks, "id", "post_message") %> &nbsp
								<%= link_to "Remove", "#", :class => "unbookmark2" %>
							<% else %>
								You have no bookmarks right now.
							<% end %>
						</div>
					</div>
				</div>

				<div class="profilepagediv1">
					<b>Teams:</b>
					<div class="profilepagediv2">
						<div id="teammembership">
							<b>Membership:</b> &nbsp
							<% if @teammembership.count > 0 %>
								<%= select_tag 'teammembership_dropdown', options_from_collection_for_select(@teammembership, "id", "team_membership") %> &nbsp
								<%= link_to "Resign", "#", :class => "resignteam fontsize10" %>
							<% else %>
								You are not a member of any teams right now.
							<% end %>
						</div>
					</div>
					<div class="profilepagediv2">
						<div id="teamownership">
							<b>Ownership:</b> &nbsp
							<% if @teamownership.count > 0 %>
								<%= select_tag 'teamownership_dropdown', options_from_collection_for_select(@teamownership, "id", "team_ownership") %> &nbsp
								<%= link_to "Manage", "#", :class => "resignteam fontsize10" %>
							<% else %>
								You do not own any teams right now.
							<% end %>
						</div>
					</div>

				</div>

				<div class="profilepagediv1">
					<b>Groups:</b>
					<div class="profilepagediv2">
						<div id="groups">
							<b>My Groups:</b> &nbsp
							<%= search_field_tag 'group' %> &nbsp
							<%= link_to "Resign", "#", :class => "resigngroup fontsize10" %> &nbsp
							<%= link_to "Disband", "#", :class => "disbandgroup fontsize10" %>
						</div>
						<div class="profilepagediv2">
							<div id="groupsmanage">
								<b>Create:</b> &nbsp
								<%= search_field_tag 'name' %> &nbsp Members: &nbsp
								<%= search_field_tag 'groupmembers' %> &nbsp
								<%= link_to "Add", "#", :class => "addgroup fontsize10" %> &nbsp
								<button>Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="profilefilters">
				<div class="profilepagediv1">
					<form action="<%= filters_path %>" method="post">
						<b>Filters:</b>
						<div class="profilepagediv2" style="border-width: 2px">
							<b>Who:</b> &nbsp
							<div class="profilepagediv2">
								<div class="flexContainer_row_center_start">
									<div class="flexitem1">
										<b>Posted by:</b> &nbsp
									</div>
									<div class="flexitem1">
										<%= select_tag 'filter_users_dropdown', content_tag(:option, "", :value => "-1") + options_from_collection_for_select(@provers, "id", "provername"), :class => "provers_dropdown" %> &nbsp
									</div>
									<div class="flexitem1">
										<%= link_to "Self", "#", :class => "postedbyself" %>
									</div>
								</div>
							</div>
						</div>
						<div class="profilepagediv2" style="border-width: 2px">
							<b>What:</b>
							<div class="profilepagediv2">
								<b>Post types:</b> &nbsp
								<%= check_box_tag 'opinions', 'true', true %>
								<%= label_tag 'Opinions' %> &nbsp
								<%= check_box_tag 'initiators', 'true', false %>
								<%= label_tag 'Initiators' %> &nbsp
								<%= check_box_tag 'comments', 'true', false %>
								<%= label_tag 'Comments' %> &nbsp &nbsp &nbsp
								(Select at least one, or
								<%= link_to "all", '#', :class => "allposttypes" %>
								)
							</div>
							<div class="profilepagediv2">
								<b>Constraints:</b> &nbsp
								<% if current_prover.administrator? %>
									<div class="profilepagediv2">
										<b>Administrator:</b> &nbsp
										<%= radio_button_tag :sitedefault, 'true', true %>
										<%= label_tag 'Site default' %> &nbsp
										<%= radio_button_tag :sitedefault, 'false' %>
										<%= label_tag 'Custom' %> &nbsp
									</div>
								<% else %>
									<%= hidden_field_tag :sitedefault, "false" %>
								<% end %>
								<div class="profilepagediv2" style="display:flex; flex-direction: row; justify-content: flex-start; align-items: center">
									<div style = "width:100px">
										<b>Categories:</b>
									</div>
									<div class="profilepagediv3 flexContainer_row_wrap_start">
										<% if @categories.empty? %>
											No categories defined
										<% else %>
											<% @categories.each do |c| %>
												<div>
													<%= check_box_tag c.name, 'category', false %>
													<%= label_tag c.name %> &nbsp
												</div>
											<% end %>
										<% end %>
									</div>
								</div>
								<div class="profilepagediv2">
									<b>Types:</b> &nbsp
									<%= check_box_tag 'lone_wolf', 'true', false %>
									<%= label_tag 'Lone wolf' %> &nbsp
									<%= check_box_tag 'bookmarks', 'true', false %>
									<%= label_tag 'My bookmarks' %> &nbsp
									<%= check_box_tag 'following', 'true', false %>
									<%= label_tag 'Following' %> &nbsp
									<%= check_box_tag 'privateposts', 'true', false %>
									<%= label_tag 'Private' %> &nbsp
									<%= check_box_tag 'public_viewing', 'true', false %>
									<%= label_tag 'Public Viewing', nil, class: 'publicviewinglabel' %> &nbsp
									<%= check_box_tag 'public_comments', 'true', false %>
									<%= label_tag 'Public Comments', nil, class: 'publiccommentslabel' %> &nbsp
								</div>
								<div class="profilepagediv2">
									<b>Status:</b> &nbsp
									<%= radio_button_tag(:status, "uncontested") %>
									<%= label_tag(:status, "True") %> &nbsp
									<%= radio_button_tag(:status, "contested") %>
									<%= label_tag(:status, "False") %> &nbsp
								</div>
								<div class="profilepagediv2">
									<b>Parents:</b> &nbsp
									<%= radio_button_tag(:parents, "has_parent") %>
									<%= label_tag(:parents, "Has a parent") %> &nbsp
									<%= radio_button_tag(:parents, "has_no_parent") %>
									<%= label_tag(:parents, "Has no parent") %> &nbsp
								</div>
								<div class="profilepagediv2">
									<b>Level:</b> &nbsp
									<%= radio_button_tag(:level, "zero") %>
									<%= label_tag(:level, "Zero") %> &nbsp
									<%= radio_button_tag(:level, "nonzero") %>
									<%= label_tag(:level, "Non-zero") %> &nbsp
								</div>
							</div>
						</div>
						<div class="profilepagediv2" style="border-width: 2px">
							<b>When:</b>
							<div class="profilepagediv2">
								<b>Active:</b> &nbsp
								<%= radio_button_tag(:timerange, "all", true) %>
								<%= label_tag(:timerange, "All") %> &nbsp
								<%= radio_button_tag(:timerange, "last_year") %>
								<%= label_tag(:timerange, "Last Year") %> &nbsp
								<%= radio_button_tag(:timerange, "last_month") %>
								<%= label_tag(:timerange, "Last Month") %> &nbsp
								<%= radio_button_tag(:timerange, "last_week") %>
								<%= label_tag(:timerange, "Last Week") %> &nbsp
								<%= radio_button_tag(:timerange, "today") %>
								<%= label_tag(:timerange, "Today") %> &nbsp
							</div>
						</div>
						<div class="profilepagediv2" style="border-width: 2px; margin-bottom: 20px">
							<b>Sort:</b>
							<div class="profilepagediv2">
								<b>By:</b> &nbsp
								<%= radio_button_tag(:sort, "sort_by_updated_at", true) %>
								<%= label_tag(:sort, "Updated date") %> &nbsp
								<%= radio_button_tag(:sort, "sort_by_created_at") %>
								<%= label_tag(:sort, "Created date") %> &nbsp
								<%= radio_button_tag(:sort, "sort_by_views") %>
								<%= label_tag(:sort, "Views") %> &nbsp
								<%= radio_button_tag(:sort, "sort_by_votes") %>
								<%= label_tag(:sort, "Popularity") %> &nbsp
							</div>
							<div class="profilepagediv2">
								<b>Order:</b> &nbsp
								<%= radio_button_tag(:descending, "false") %>
								<%= label_tag 'Ascending' %> &nbsp
								<%= radio_button_tag(:descending, "true", true) %>
								<%= label_tag 'Descending' %> &nbsp
							</div>
						</div>

						<div class="flexContainer_row_center_start">
							<b>My Filters:</b> &nbsp
							<% if current_prover.administrator? %>
								<%= select_tag 'myfilters', content_tag(:option, "", :value => "-1") + options_from_collection_for_select(@defaultfilters, "id", "name") + content_tag(:option, @divider, :disabled => true, :value => "-1") + options_from_collection_for_select(@customfilters, "id", "name"), :class => 'myfilters' %> &nbsp
							<% else %>
								<%= select_tag 'myfilters', content_tag(:option, "", :value => "-1") + options_from_collection_for_select(@customfilters, "id", "name"), :class => 'myfilters' %> &nbsp
							<% end %>
							<span style="margin-top:6px; font-size: 10px">
								<textarea class="myfiltername" name="myfiltername" rows="1" cols="45" placeholder="Select existing filter or enter new name here."></textarea> &nbsp
							</span>
							<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<%= submit_tag("Save") %> &nbsp
							<button id="filterdeletebutton" type="button">Delete</button> &nbsp
							<button id="filterresetbutton" type="button">Clear</button> &nbsp
						</div>
					</form>
				</div>
			</div>

			<div id="profilemobile">
				Profile Mobile
			</div>

			<div id="profileemail">
				Profile Email
			</div>

			<div id="profileapps">
				Profile Apps
			</div>

			<div id="profilerating">
				<div id="profileratingstats">
					<li>Current Rating = <%= @prover.rating.round(2) %></li>
					<li>Current Rank = <%= @prover.ranking %></li>
					<li>Percentile = <%= @prover.percentile.round(2) %></li>
					<li>Highest Rating = <%= @prover.highest_rating.round(2) %> (<%= @prover.highest_rating_date.strftime('%x') %>) &nbsp
					<% if @owner %>
						<button class="resethighestratingbutton" name="Reset" type="button">
							Reset
						</button>
					<% end %> </li>
					<% if @halflife == 1 %>
						<li>Current half-life setting = <%= @halflife %> week</li>
					<% else %>
						<li>Current half-life setting = <%= @halflife %> weeks</li>
				<% end %>
				</div>

				<div id="ratingexplanation">
					<b><div>
						Explanation:
					</div></b>

					<div style="margin-top: 10px">
						When a post<b>*</b> is first submitted, its status will be set to "true" (green) and its score to 100.
						Once contested, its status will become false (red) and its score reduced to 0. As long as a
						post's status remains true, its score will decay using a half-life formula set by the site
						administrator. For example, with a 26-week half-life, the score for a true post would be reduced to
						60.62 after 19 weeks. If its status reverted to false, its score would be reduced to 0. If it became
						true again, it would reset (to 100) and the decay process would start over. A post will likely toggle
						back and forth between true and false throughout its lifetime with its score ranging between 0 and 100.
					</div>

					<div style="margin-top: 10px">
						<b><u><em>
							A user's rating is calculated by averaging his/her 100 most recently active post<b>*</b> scores.
						</em></u></b>
					</div>

					<div style="margin-top: 10px">
						<b>*</b>(Opinions and objections only. Comments and initiators are not scored.)
					</div>
				</div>
			</div>

			<div id="profileadministrative">
				<div class="profilepagediv1">
					<b>Administrative:</b>
					<div class="profilepagediv2">
						<div class="flexContainer_row_center_start">
							<b>Users:</b> &nbsp
							<%= select_tag 'myprovers', options_from_collection_for_select(@provers, "id", "provername"), :class => 'myprovers' %> &nbsp &nbsp
							<%= link_to "Delete", "#", :id => "proverdeletebutton" %> &nbsp &nbsp &nbsp &nbsp
						</div>
					</div>
					<div class="profilepagediv2">
						<form action="<%= categories_path %>" method="post">
							<div class="flexContainer_row_center_start">
								<b>Categories:</b> &nbsp
								<%= select_tag 'mycategories', options_from_collection_for_select(@categories, "id", "name"), :class => 'mycategories' %> &nbsp &nbsp
								<%= link_to "Delete", "#", :id => "categorydeletebutton" %> &nbsp &nbsp &nbsp &nbsp
								<textarea class="sitecategoryname" name="sitecategoryname" rows="1" cols="30" placeholder="Enter new category here."></textarea> &nbsp
								<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
								<%= submit_tag("Create") %>
							</div>
						</form>
					</div>
					<div class="profilepagediv2">
						<b>Fallacies:</b> &nbsp
						<form action="<%= fallacies_path %>" method="post">
							<div class="profilepagediv2">
								<div class="fallacydiv">
									<div>
										&nbsp
										<% folders = [] %>
										<% f = @folder %>
										<% while f.parent %>
											<% folders.unshift(f.name.sub(" --->", "")) %>
											<% f = f.parent %>
										<% end %>
										Logical Fallacies
										<% folders.each do |f| %>
											/&nbsp<%= f %>
										<% end %>
									</div>

									<div class="flexContainer_row_center_start">
										<% fallacies = Fallacy.where(:folder => @folder.id).order(:name) %>
										<% subfolders = Fallacyfolder.where(:parent => @folder.id).order(:name) %>
										<% joined = fallacies + subfolders %>
										<% joined = joined.sort { |a, b| a.name <=> b.name } %>
										<%= select_tag 'fallacy', options_from_collection_for_select(joined, "id", "name"), :class => 'fallacies' %> &nbsp &nbsp
										<% if @folder.parent %>
											<%= link_to "Back", "/provers/#{current_prover.id}?folderid=#{@folder.parent.id}" %> &nbsp &nbsp
										<% end %>
										<%= hidden_field_tag :parent, @folder.id %>
										<%= link_to "Open", "#", :id => "fallacyopen" %> &nbsp &nbsp
										<%= link_to "Delete", "#", :id => "fallacydelete" %> &nbsp &nbsp &nbsp &nbsp
										<textarea class="name" name="name" rows="1" cols="40" placeholder="Enter new fallacy or folder name here."></textarea>
										<%= radio_button_tag(:type, "fallacy", true) %>
										<%= label_tag("Fallacy") %> &nbsp
										<%= radio_button_tag(:type, "folder") %>
										<%= label_tag("Folder") %> &nbsp &nbsp
										<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
										<%= submit_tag("Create") %> &nbsp
									</div>
								</div>
							</div>
						</form>
						<div class="fallacydetails">
							<%= form_tag fallacies_path, :method => "put" %>
								<div class="toppadding10">
									<div class="submit_text message_text">
										Declaration of fallacy:
									</div>
									<textarea id="fallacydeclaration" class="message message_placeholder" name="message" rows="1" cols="100" placeholder="Enter declaration here. Be as concise as possible."></textarea>
								</div>
								<div class="toppadding5">
									<div class="submit_text support_text">
										Explanation:
									</div>
									<textarea id="fallacysupport" class="message support_placeholder" name="support" rows="10" cols="100" placeholder="Enter explanation here."></textarea>
								</div>
								<div class="toppadding5">
									<div class="submit_text support_url">
										URL (Optional):
									</div>
									<textarea id="fallacyurl" class="message support_placeholder" name="url" rows="1" cols="100" placeholder="Enter related link here."></textarea>
								</div>
								<div>
									<hr size="2" noshade>
								</div>
								<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
								<%= hidden_field_tag :fallacy_details_id %>
								<%= hidden_field_tag :folder, @folder.id %>
								<div class="toppadding10">
									<%= submit_tag("Save")%>
									<button class="right sidepadding" name="Cancel" type="button" id="cancelfallacydetails">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
					<form action="/halflife" method="post">
						<div class="profilepagediv2">
							<div class="flexcontainerrowcenterstart">
								<b>Post score half-life:</b>
								<div class="range-wrapper">
									<input name="weeks" type="range" min="1" max="52" id="myRange"/>
									<div class="text" style="display: flex; flex-direction: column; align-items: center"></div>
								</div> &nbsp &nbsp
								<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
								<%= submit_tag("Save") %>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>