<head>
	<script type="text/javascript">
		$(function() {
			$('input[name="profile"]').on('click', function(e) {
				console.log("Selecting profile tab...");
				var $tgt = $(e.target);
				if($tgt.val() == "profile") {
					console.log("profile = profile");
					$('#profileprofile').show();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "posts") {
					console.log("profile = posts");
					$('#profileprofile').hide();
					$('#profileposts').show();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "account") {
					console.log("profile = account");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').show();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "password") {
					console.log("profile = password");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').show();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "settings") {
					console.log("profile = settings");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').show();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "filters") {
					console.log("profile = filters");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').show();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "mobile") {
					console.log("profile = mobile");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').show();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "email") {
					console.log("profile = email");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').show();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "apps") {
					console.log("profile = apps");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').show();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "rating") {
					console.log("profile = rating");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').show();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "administrative") {
					console.log("profile = administrative");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').show();
				} else {
					console.log("Clicking unknown profile tab: " + $tgt.val());
				}

			});

			$('.resethighestratingbutton').on("click", function () {
				$.ajax({
					url: '/resetscore',
					type: 'GET',
					success: function(resp) {
						console.log("Resetting highest rating.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.follow').on("click", function (e) {
				var $tgt = $(e.target);
				$.post('/follows', {owner: <%= current_prover.id %>, follows: $tgt.attr("data-prover-id") }, function(resp) {
					var follow = JSON.parse(resp);
					console.log(follow);
				});

				console.log("Following this prover.");
				window.location.reload();
				return false;
			});

			$('.unfollow').on("click", function (e) {
				var $tgt = $(e.target);

				var followsId;
				if($tgt.attr("data-prover-id") !== undefined) {
					followsId = $tgt.attr("data-prover-id");
				} else {
					followsId = $('#following_dropdown').val();
				}

				$.ajax({
					url: '/follows?' + $.param({"owner": <%= current_prover.id %>, "follows": followsId}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Unfollowing this prover.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.unfollowedby').on("click", function (e) {
				var $tgt = $(e.target);

				var followsId;
				if($tgt.attr("data-prover-id") !== undefined) {
					followsId = $tgt.attr("data-prover-id");
				} else {
					followsId = $('#followers_dropdown').val();
				}

				$.ajax({
					url: '/follows?' + $.param({"owner": followsId, "follows": <%= current_prover.id %>}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Removing this follower.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.unbookmark').on("click", function (e) {
				var $tgt = $(e.target);
				var bookmarkId = $('#bookmark_dropdown').val();
				console.log(bookmarkId);
				$.ajax({
					url: '/bookmarks?' + $.param({"owner": <%= current_prover.id %>, "id": bookmarkId}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Removing this bookmark.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.resignteam').on("click", function (e) {
				var $tgt = $(e.target);
				var teamId = $('#teams_dropdown').val();
				console.log(teamId);
				$.ajax({
					url: '/teams?' + $.param({"owner": <%= current_prover.id %>, "id": teamId}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Removing team member.");
						window.location.reload();
					}
				});

				return false;
			});

			$('input[name="profile"][value="<%= @default_tab %>"]').click();
			$('input[name="filter"][value="<%= @prover.filter %>"]').click();
			$('input[name="verbosity"][value= <%= @prover.verbosity %>]').click();
			$('input[name="offspring_style"][value="<%= @prover.offspring_style %>"]').click();
		});

	</script>
</head>

<body>

	<%= form_for @prover do |prover_form| %>

		<div id="userprofiletabs">
			<div class="sidepadding">
				<%= link_to 'Home', root_path %>
				<div class="right sidepadding">
					<%= radio_button_tag(:profile, "profile") %>
					<%= label_tag(:profile, "Profile") %>
					<%= radio_button_tag(:profile, "posts") %>
					<%= label_tag(:profile, "Posts") %>
					<%= radio_button_tag(:profile, "account") if @owner  %>
					<%= label_tag(:profile, "Account") if @owner %>
					<%= radio_button_tag(:profile, "password") if @owner %>
					<%= label_tag(:profile, "Password") if @owner %>
					<%= radio_button_tag(:profile, "settings") if @owner %>
					<%= label_tag(:profile, "Settings") if @owner %>
					<%= radio_button_tag(:profile, "filters") if @owner %>
					<%= label_tag(:profile, "Filters") if @owner %>
					<%= radio_button_tag(:profile, "mobile") if @owner %>
					<%= label_tag(:profile, "Mobile") if @owner %>
					<%= radio_button_tag(:profile, "email") if @owner %>
					<%= label_tag(:profile, "Email") if @owner %>
					<%= radio_button_tag(:profile, "apps") if @owner %>
					<%= label_tag(:profile, "Apps") if @owner %>
					<%= radio_button_tag(:profile, "rating") %>
					<%= label_tag(:profile, "Rating") %>
					<%= radio_button_tag(:profile, "administrative") if @owner %>
					<%= label_tag(:profile, "Administrative") if @owner %>
				</div>
			</div>

			<div class="profilepage">
				<div id="profilename">
					<%= @prover.provername %>
					(<%= @prover.first_name %>
					<%= @prover.last_name %>) &nbsp
					<% if !@owner %>
						<% if already_following(@prover.id) %>
							<%= link_to "Unfollow", "#", :class => "unfollow", :data => {:prover_id => "#{@prover.id}"} %>
						<% else %>
							<%= link_to "Follow", "#", :class => "follow", :data => {:prover_id => "#{@prover.id}"} %>
						<% end %>
					<% end %>
				</div>

				<div id="profileprofile">

					<%= image_tag(@prover.image_url, :class => "profileproverimage") %>

					<% if @owner %>
						<div id="profileprofilefields1">
							Change profile photo: &nbsp
							<%= prover_form.file_field :profile_image %>
						</div>
					<% end %>

					<div id="profileprofilefields2">
						<div>First Name: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="first_name" rows="1"><%= @prover.first_name %></textarea></div>
						<div>Last Name: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="last_name"  rows="1"><%= @prover.last_name %></textarea></div>
						<div>Username: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="username"  rows="1"><%= @prover.provername %></textarea></div>
						<div>Email: <textarea disabled class="message profiletextfield1" name="emailaddress"  rows="1"><%= @prover.email %></textarea></div>
						<div>Location: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="location" rows="1"><%= @prover.location %></textarea></div>
						<div>Occupation: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="occupation" rows="1"><%= @prover.occupation %></textarea></div>
						<div>Education: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="education" rows="1"><%= @prover.education %></textarea></div>
						<div>Joined: <textarea disabled class="message profiletextfield1" name="joined" rows="1"><%= @prover.created_at %></textarea></div>
						<div>Member #: <textarea disabled class="message profiletextfield1" name="userid" rows="1"><%= @prover.id %></textarea></div>
					</div>

					<div id="profileprofilefields3">
						<div>About Me: <textarea <%= "disabled" if !@owner %> class="message profiletextfield2" name="aboutme" rows="10"><%= @prover.aboutme %></textarea></div>
					</div>
				</div>

				<div id="profileposts">
					<div class="profilepagediv1">
						<li>Opinions: <%= link_to @opinions.count, root_path(:filter => Prover::OPINIONS, :prover => @prover) %>
						<li>Objections: <%= link_to @objections.count, root_path(:filter => Prover::OBJECTIONS, :prover => @prover) %>
						<li>Initiators: <%= link_to @initiators.count, root_path(:filter => Prover::INITIATORS, :prover => @prover) %>
						<li>Comments: <%= link_to @comments.count, root_path(:filter => Prover::COMMENTS, :prover => @prover)  %>
					</div>
				</div>

				<div id="profileaccount">
					Profile Account
				</div>

				<div id="profilepassword">
					Profile Password
				</div>

				<div id="profilesettings">
					<div class="profilepagediv1">
						<b>Defaults:</b>
						<div class="profilepagediv2">
							<b>Verbosity:</b>
							<%= radio_button_tag(:verbosity, 1) %>
							<%= label_tag(:verbosity, "1") %>
							<%= radio_button_tag(:verbosity, 2) %>
							<%= label_tag(:verbosity, "2") %>
							<%= radio_button_tag(:verbosity, 3) %>
							<%= label_tag(:verbosity, "3") %>
							<%= radio_button_tag(:verbosity, 4) %>
							<%= label_tag(:verbosity, "4") %>
						</div>


						<div class="profilepagediv2">
							<b>Offspring:</b>
							<%= radio_button_tag(:offspring_style, "collapsed") %>
							<%= label_tag(:offspring_style, "Collapsed") %>
							<%= radio_button_tag(:offspring_style, "expanded") %>
							<%= label_tag(:offspring_style, "Expanded") %>
						</div>
					</div>

					<div class="profilepagediv1">
						<b>Quicklook Counts:</b>
						<div class="profilepagediv2">
							<b>Default Filters:</b>
							<%= check_box_tag 'quicklook', 'topics', true %>
							<%= label_tag 'Topics' %>
							<%= check_box_tag 'quicklook', 'opinions', true %>
							<%= label_tag 'Opinions' %>
							<%= check_box_tag 'quicklook', 'objections', true %>
							<%= label_tag 'Objections' %>
							<%= check_box_tag 'quicklook', 'initiators', false %>
							<%= label_tag 'Initiators' %>
							<%= check_box_tag 'quicklook', 'comments', false %>
							<%= label_tag 'Comments' %>
							<%= check_box_tag 'quicklook', 'following', false %>
							<%= label_tag 'Following' %>
							<%= check_box_tag 'quicklook', 'bookmarks', false %>
							<%= label_tag 'Bookmarks' %>
						</div>
						<div class="profilepagediv2">
							<b>Custom Filters:</b>
							<%= check_box_tag 'quicklook', 'myopinions', true %>
							<%= label_tag 'MyOpinions' %>
							<%= check_box_tag 'quicklook', 'opinions', false %>
							<%= label_tag 'MyComments' %>
							<%= check_box_tag 'quicklook', 'objections', false %>
							<%= label_tag 'MyInitiators' %>
							<%= check_box_tag 'quicklook', 'initiators', false %>
							<%= label_tag 'MyObjections' %>
							<%= check_box_tag 'quicklook', 'comments', true %>
							<%= label_tag 'MyFamily' %>
							<%= check_box_tag 'quicklook', 'following', false %>
							<%= label_tag 'Contested' %>
							<%= check_box_tag 'quicklook', 'bookmarks', false %>
							<%= label_tag 'Uncontested' %>
						</div>
					</div>

					<div class="profilepagediv1">
						<b>Lists:</b>
						<div class="profilepagediv2">
							<div id="following">
								<b>Following:</b> &nbsp
								<% if @follows.count > 0 %>
									<%= select_tag 'following_dropdown', options_from_collection_for_select(@follows, "follows_id", "follows_name") %> &nbsp
									<%= link_to "Unfollow", "#", :class => "unfollow", :data => {:current_prover_id => "#{@prover.id}"} %>
								<% else %>
									You are not following anyone right now.
								<% end %>
							</div>
						</div>

						<div class="profilepagediv2">
							<div id="followers">
								<b>Followed By:</b> &nbsp
								<% if @followed.count > 0 %>
									<%= select_tag 'followers_dropdown', options_from_collection_for_select(@followed, "owner_id", "owner_name") %> &nbsp
									<%= link_to "Remove", "#", :class => "unfollowedby", :data => {:current_prover_id => "#{@prover.id}"} %>
								<% else %>
									No one is following you right now.
								<% end %>
							</div>
						</div>

						<div class="profilepagediv2">
							<div id="bookmark">
								<b>Bookmarks:</b> &nbsp
								<% if @bookmarks.count > 0 %>
									<%= select_tag 'bookmark_dropdown', options_from_collection_for_select(@bookmarks, "id", "post_message") %> &nbsp
									<%= link_to "Remove", "#", :class => "unbookmark" %>
							<% else %>
									You have no bookmarks right now.
								<% end %>
							</div>
						</div>

						<div class="profilepagediv2">
							<div id="teams">
								<b>My Teams:</b> &nbsp
								<% if @teams.count > 0 %>
									<%= select_tag 'teams_dropdown', options_from_collection_for_select(@teams, "id", "topic_message") %> &nbsp
									<%= link_to "Resign", "#", :class => "resignteam" %>
								<% else %>
									You are not a member of any teams right now.
								<% end %>
							</div>
						</div>

						<div class="profilepagediv2">
							<div id="groups">
								<b>My Groups:</b> &nbsp
								<%= search_field_tag 'group' %> &nbsp
								<button type="button">Resign</button> &nbsp
								<button type="button">Disband</button>
							</div>
							<div class="profilepagediv2">
								<div id="groupsmanage">
									<b>Create:</b> &nbsp
									<%= search_field_tag 'name' %> &nbsp Members: &nbsp
									<%= search_field_tag 'groupmembers' %> &nbsp
									<button type="button" id="addgroupmemberbutton">Add</button> &nbsp
									<%= submit_tag("Save") %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="profilefilters">
					<div class="profilepagediv1">
						<b>Filters:</b>
						<div class="profilepagediv2">
							<b>Defaults:</b>
							<%= radio_button_tag(:filter, "topics") %>
							<%= label_tag(:filter, "Topics") %>
							<%= radio_button_tag(:filter, "opinions") %>
							<%= label_tag(:filter, "Opinions") %>
							<%= radio_button_tag(:filter, "objections") %>
							<%= label_tag(:filter, "Objections") %>
							<%= radio_button_tag(:filter, "initiators") %>
							<%= label_tag(:filter, "Initiators") %>
							<%= radio_button_tag(:filter, "comments") %>
							<%= label_tag(:filter, "Comments") %>
							<%= radio_button_tag(:filter, "following") %>
							<%= label_tag(:filter, "Following") %>
							<%= radio_button_tag(:filter, "bookmarks") %>
							<%= label_tag(:filter, "Bookmarks") %>
						</div>
					</div>
				</div>

				<div id="profilemobile">
					Profile Mobile
				</div>

				<div id="profileemail">
					Profile Email
				</div>

				<div id="profileapps">
					Profile Apps
				</div>

				<div id="profilerating">
					<div id="profileratingstats">
						<li>Current Rating = <%= @prover.rating.round(2) %></li>
						<li>Current Rank = <%= @prover.ranking %></li>
						<li>Percentile = <%= @prover.percentile.round(2) %></li>
						<li>Highest Rating = <%= @prover.highest_rating.round(2) %> (<%= @prover.highest_rating_date.strftime('%x') %>) &nbsp
						<% if @owner %>
							<button class="resethighestratingbutton" name="Reset" type="button">
								Reset
							</button>
						<% end %> </li>
					</div>

					<div id="ratingexplanation">
						<b><div>
							Explanation:
						</div></b>

						<div style="margin-top: 10px">
							When a post<b>*</b> is first submitted, its status will be set to "true" (green) and its score to 100.
							Once contested, its status will become false (red) and its score reduced to 0. Whenever a
							post's status is true, its score will decay using a half-life formula set by the site
							administrator. For example, with a 26-week half-life, the score for a true post would be reduced to
							60.62 after 19 weeks. If its status reverts to false, its score would be reduced to 0. If it became
							true again, it would reset (to 100) and the decay process would start over. A post will likely toggle
							back and forth between true and false throughout it's lifetime with its score ranging between 0 and 100.
						</div>

						<div style="margin-top: 10px">
							<b><u><em>
								A user's rating is calculated by averaging his/her 100 most recently active post<b>*</b> scores.
							</em></u></b>
						</div>

						<div style="margin-top: 10px">
							<b>*</b>(Initial opinions and objections only. Comments and initiators are not scored.)
						</div>
					</div>
				</div>

				<div id="profileadministrative">
					Profile Administrative
				</div>
      </div>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		</div>

		<% if @owner %>
			<div class="toppadding10 sidepadding">
				<%= submit_tag("Save") %>
			</div>
		<% end %>
	<% end %>
</body>
