<head>
	<script type="text/javascript">
		$(function() {
			$('input[name="profile"]').on('click', function(e) {
				console.log("Selecting profile tab...");
				var $tgt = $(e.target);
				if($tgt.val() == "profile") {
					console.log("profile = profile");
					$('#profileprofile').show();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "posts") {
					console.log("profile = posts");
					$('#profileprofile').hide();
					$('#profileposts').show();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "account") {
					console.log("profile = account");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').show();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "password") {
					console.log("profile = password");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').show();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "settings") {
					console.log("profile = settings");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').show();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "filters") {
					console.log("profile = filters");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').show();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "mobile") {
					console.log("profile = mobile");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').show();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "email") {
					console.log("profile = email");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').show();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "apps") {
					console.log("profile = apps");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').show();
					$('#profilerating').hide();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "rating") {
					console.log("profile = rating");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').show();
					$('#profileadministrative').hide();
				} else if($tgt.val() == "administrative") {
					console.log("profile = administrative");
					$('#profileprofile').hide();
					$('#profileposts').hide();
					$('#profileaccount').hide();
					$('#profilepassword').hide();
					$('#profilesettings').hide();
					$('#profilefilters').hide();
					$('#profilemobile').hide();
					$('#profileemail').hide();
					$('#profileapps').hide();
					$('#profilerating').hide();
					$('#profileadministrative').show();
				} else {
					console.log("Clicking unknown profile tab: " + $tgt.val());
				}

			});

			$('.resethighestratingbutton').on("click", function () {
				$.ajax({
					url: '/resetscore',
					type: 'GET',
					success: function(resp) {
						console.log("Resetting highest rating.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.follow').on("click", function (e) {
				var $tgt = $(e.target);
				$.post('/follows', {owner: <%= current_prover.id %>, follows: $tgt.attr("data-prover-id") }, function(resp) {
					var follow = JSON.parse(resp);
					console.log(follow);
				});

				console.log("Following this prover.");
				window.location.reload();
				return false;
			});

			$('.unfollow').on("click", function (e) {
				var $tgt = $(e.target);

				var followsId;
				if($tgt.attr("data-prover-id") !== undefined) {
					followsId = $tgt.attr("data-prover-id");
				} else {
					followsId = $('#following_dropdown').val();
				}

				$.ajax({
					url: '/follows?' + $.param({"owner": <%= current_prover.id %>, "follows": followsId}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Unfollowing this prover.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.unfollowedby').on("click", function (e) {
				var $tgt = $(e.target);

				var followsId;
				if($tgt.attr("data-prover-id") !== undefined) {
					followsId = $tgt.attr("data-prover-id");
				} else {
					followsId = $('#followers_dropdown').val();
				}

				$.ajax({
					url: '/follows?' + $.param({"owner": followsId, "follows": <%= current_prover.id %>}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Removing this follower.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.unbookmark2').on("click", function () {
				var bookmarkId = $('#bookmark_dropdown').val();
				console.log(bookmarkId);
				$.ajax({
					url: '/bookmarks?' + $.param({"id": bookmarkId}),
					type: 'DELETE',
					success: function(resp) {
						console.log("Removing this bookmark.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.resignteam').on("click", function () {
				var teamId = $('#teammembership_dropdown').val();
				console.log(teamId);
				$.ajax({
					url: '/filter?' + $.param({"owner": <%= current_prover.id %>, "name": teamId}),
					type: 'GET',
					success: function(resp) {
						console.log("Removed team member.");
						window.location.reload();
					}
				});

				return false;
			});

			$('.myfilters').on("click", function (e) {
				var $tgt = $(e.target);
				$.ajax({
					url: '/filters/' + $tgt.val() + '.json?' + $.param({"id": $tgt.val()}),
					type: 'GET',
					success: function(filter) {
						console.log(filter);
						$('input[name="opinions"][value="true"]').prop('checked', filter.opinions);
						$('input[name="initiators"][value="true"]').prop('checked', filter.initiators);
						$('input[name="comments"][value="true"]').prop('checked', filter.comments);
						$('input[name="bookmarks"][value="true"]').prop('checked', filter.bookmarks);
						$('input[name="lone_wolf"][value="true"]').prop('checked', filter.lone_wolf);
						if (filter.private) {
							$('input[name="privateposts"][value="true"]').prop('checked', true);
							$('#public_viewing').show();
							$('.publicviewinglabel').show();
						}
						if (filter.public_viewing) {
							$('input[name="public_viewing"][value="true"]').prop('checked', true);
							$('#public_comments').show();
							$('.publiccommentslabel').show();
						}
						$('input[name="public_comments"][value="true"]').prop('checked', filter.public_comments);
						$('input[name="following"][value="true"]').prop('checked', filter.following);
						$('input[name="status"][value="contested"]').prop('checked', filter.contested);
						$('input[name="status"][value="uncontested"]').prop('checked', filter.uncontested);
						$('input[name="parents"][value="has_parent"]').prop('checked', filter.has_parent);
						$('input[name="parents"][value="has_no_parent"]').prop('checked', filter.has_no_parent);
						$('input[name="level"][value="zero"]').prop('checked', filter.level_zero);
						$('input[name="level"][value="nonzero"]').prop('checked', filter.level_nonzero);
						$('input[name="timerange"][value="today"]').prop('checked', filter.today);
						$('input[name="timerange"][value="last_week"]').prop('checked', filter.last_week);
						$('input[name="timerange"][value="last_month"]').prop('checked', filter.last_month);
						$('input[name="timerange"][value="last_year"]').prop('checked', filter.last_year);
						$('input[name="sort"][value="sort_by_created_at"]').prop('checked', filter.sort_by_created_at);
						$('input[name="sort"][value="sort_by_updated_at"]').prop('checked', filter.sort_by_updated_at);
						$('input[name="sort"][value="sort_by_views"]').prop('checked', filter.sort_by_views);
						$('input[name="sort"][value="sort_by_votes"]').prop('checked', filter.sort_by_votes);
						$('.myfiltername').val(filter.name);
						$('.provers_dropdown').val(filter.who_id);
					}
				});

				return false;
			});

			$('#filterresetbutton').on("click", function () {
				$('.myfiltername').val("");
				$('input[name="opinions"][value="true"]').prop('checked', false);
				$('input[name="initiators"][value="true"]').prop('checked', false);
				$('input[name="comments"][value="true"]').prop('checked', false);
				$('input[name="bookmarks"][value="true"]').prop('checked', false);
				$('input[name="lone_wolf"][value="true"]').prop('checked', false);
				$('input[name="privateposts"][value="true"]').prop('checked', false);
				$('input[name="pubic_viewing"][value="true"]').prop('checked', false);
				$('input[name="public_comments"][value="true"]').prop('checked', false);
				$('input[name="following"][value="true"]').prop('checked', false);
				$('input[name="status"][value="contested"]').prop('checked', false);
				$('input[name="status"][value="uncontested"]').prop('checked', false);
				$('input[name="parents"][value="has_parent"]').prop('checked', false);
				$('input[name="parents"][value="has_no_parent"]').prop('checked', false);
				$('input[name="level"][value="zero"]').prop('checked', false);
				$('input[name="level"][value="nonzero"]').prop('checked', false);
				$('input[name="timerange"][value="today"]').prop('checked', false);
				$('input[name="timerange"][value="last_week"]').prop('checked', false);
				$('input[name="timerange"][value="last_month"]').prop('checked', false);
				$('input[name="timerange"][value="last_year"]').prop('checked', false);
				$('input[name="sort"][value="sort_by_created_at"]').prop('checked', false);
				$('input[name="sort"][value="sort_by_updated_at"]').prop('checked', false);
				$('input[name="sort"][value="sort_by_views"]').prop('checked', false);
				$('input[name="sort"][value="sort_by_votes"]').prop('checked', false);
			});

			$('#filterdeletebutton').on("click", function () {
				var filterId = $('#myfilters').val();
				$.ajax({
					url: '/filters/' + filterId + '.json?',
					type: 'DELETE',
					success: function(resp) {
						console.log("Deleted filter.");
						window.location.reload();
					}
				});

				return false;
			});

			$('input[name="profile"][value="<%= @default_tab %>"]').click();
			$('input[name="verbosity"][value= <%= @prover.verbosity %>]').click();
			$('input[name="offspring_style"][value="<%= @prover.offspring_style %>"]').click();

			$('.postedbyself').on("click", function () {
				$('.provers_dropdown').val(<%= current_prover.id %>)
			});

			$('#privateposts').on("click", function (e) {
				var $tgt = $(e.target);
				if ($tgt.prop("checked")) {
					$('#public_viewing').show();
					$('.publicviewinglabel').show();
				} else {
					if ($('#public_viewing').is(':checked')) {
						$('#public_viewing').click();
					}
					$('#public_viewing').hide();
					$('.publicviewinglabel').hide();
				}
			});

			$('#public_viewing').on("click", function (e) {
				var $tgt = $(e.target);
				if ($tgt.prop("checked")) {
					$('#public_comments').show();
					$('.publiccommentslabel').show();
				} else {
					if ($('#public_comments').is(':checked')) {
						$('#public_comments').click();
					}
					$('#public_comments').hide();
					$('.publiccommentslabel').hide();
				}
			});

			$('#public_viewing').hide();
			$('.publicviewinglabel').hide();
			$('#public_comments').hide();
			$('.publiccommentslabel').hide();
		});

	</script>
</head>

<body>

	<div id="userprofiletabs">
		<div class="sidepadding">
			<%= link_to 'Home', root_path %>
			<div class="right sidepadding">
				<%= radio_button_tag(:profile, "profile") %>
				<%= label_tag(:profile, "Profile") %>
				<%= radio_button_tag(:profile, "posts") %>
				<%= label_tag(:profile, "Posts") %>
				<%= radio_button_tag(:profile, "account") if @owner  %>
				<%= label_tag(:profile, "Account") if @owner %>
				<%= radio_button_tag(:profile, "password") if @owner %>
				<%= label_tag(:profile, "Password") if @owner %>
				<%= radio_button_tag(:profile, "settings") if @owner %>
				<%= label_tag(:profile, "Settings") if @owner %>
				<%= radio_button_tag(:profile, "filters") if @owner %>
				<%= label_tag(:profile, "Filters") if @owner %>
				<%= radio_button_tag(:profile, "mobile") if @owner %>
				<%= label_tag(:profile, "Mobile") if @owner %>
				<%= radio_button_tag(:profile, "email") if @owner %>
				<%= label_tag(:profile, "Email") if @owner %>
				<%= radio_button_tag(:profile, "apps") if @owner %>
				<%= label_tag(:profile, "Apps") if @owner %>
				<%= radio_button_tag(:profile, "rating") %>
				<%= label_tag(:profile, "Rating") %>
				<%= radio_button_tag(:profile, "administrative") if @owner %>
				<%= label_tag(:profile, "Administrative") if @owner %>
			</div>
		</div>

		<div class="profilepage">
			<div id="profilename">
				<%= @prover.provername %>
				(<%= @prover.first_name %>
				<%= @prover.last_name %>) &nbsp
				<% if !@owner %>
					<% if already_following(@prover.id) %>
						<%= link_to "Unfollow", "#", :class => "unfollow", :data => {:prover_id => "#{@prover.id}"} %>
					<% else %>
						<%= link_to "Follow", "#", :class => "follow", :data => {:prover_id => "#{@prover.id}"} %>
					<% end %>
				<% end %>
			</div>

			<div id="profileprofile">

				<%= form_for @prover do |prover_form| %>

					<%= image_tag(@prover.image_url, :class => "profileproverimage") %>

					<% if @owner %>
						<div id="profileprofilefields1">
							Change profile photo: &nbsp
							<%= prover_form.file_field :profile_image %>
						</div>
					<% end %>

					<div id="profileprofilefields2">
						<div>First Name: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="first_name" rows="1"><%= @prover.first_name %></textarea></div>
						<div>Last Name: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="last_name"  rows="1"><%= @prover.last_name %></textarea></div>
						<div>Username: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="username"  rows="1"><%= @prover.provername %></textarea></div>
						<div>Email: <textarea disabled class="message profiletextfield1" name="emailaddress"  rows="1"><%= @prover.email %></textarea></div>
						<div>Location: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="location" rows="1"><%= @prover.location %></textarea></div>
						<div>Occupation: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="occupation" rows="1"><%= @prover.occupation %></textarea></div>
						<div>Education: <textarea <%= "disabled" if !@owner %> class="message profiletextfield1" name="education" rows="1"><%= @prover.education %></textarea></div>
						<div>Joined: <textarea disabled class="message profiletextfield1" name="joined" rows="1"><%= @prover.created_at %></textarea></div>
						<div>Member #: <textarea disabled class="message profiletextfield1" name="userid" rows="1"><%= @prover.id %></textarea></div>
					</div>

					<div id="profileprofilefields3">
						<div>About Me: <textarea <%= "disabled" if !@owner %> class="message profiletextfield2" name="aboutme" rows="10"><%= @prover.aboutme %></textarea></div>
					</div>

					<% if @owner %>
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<%= hidden_field_tag :default_tab, "profile" %>
						<div class="toppadding10 sidepadding">
							<%= submit_tag("Save") %>
						</div>
					<% end %>
				<% end %>

			</div>

			<div id="profileposts">
				<div class="profilepagediv1">
					<li>Opinions: <%= @opinions.count %>
					<li>Objections: <%= @objections.count %>
					<li>Initiators: <%= @initiators.count %>
					<li>Comments: <%= @comments.count %>
				</div>
			</div>

			<div id="profileaccount">
				Profile Account
			</div>

			<div id="profilepassword">
				Profile Password
			</div>

			<div id="profilesettings">
				<div class="profilepagediv1">
					<%= form_for @prover do |prover_form| %>
						<b>Defaults:</b>
						<div class="profilepagediv2">
							<b>Verbosity:</b>
							<%= radio_button_tag(:verbosity, 1) %>
							<%= label_tag(:verbosity, "1") %>
							<%= radio_button_tag(:verbosity, 2) %>
							<%= label_tag(:verbosity, "2") %>
							<%= radio_button_tag(:verbosity, 3) %>
							<%= label_tag(:verbosity, "3") %>
							<%= radio_button_tag(:verbosity, 4) %>
							<%= label_tag(:verbosity, "4") %>
						</div>

						<div class="profilepagediv2">
							<b>Offspring:</b>
							<%= radio_button_tag(:offspring_style, "collapsed") %>
							<%= label_tag(:offspring_style, "Collapsed") %>
							<%= radio_button_tag(:offspring_style, "expanded") %>
							<%= label_tag(:offspring_style, "Expanded") %>
						</div>

						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<%= hidden_field_tag :default_tab, "settings" %>
						<div class="toppadding10 sidepadding">
							<%= submit_tag("Save") %>
						</div>
					<% end %>
				</div>

				<div class="profilepagediv1">
					<b>Lists:</b>
					<div class="profilepagediv2">
						<div id="following">
							<b>Following:</b> &nbsp
							<% if @follows.count > 0 %>
								<%= select_tag 'following_dropdown', options_from_collection_for_select(@follows, "follows_id", "follows_name") %> &nbsp
								<%= link_to "Unfollow", "#", :class => "unfollow", :data => {:current_prover_id => "#{@prover.id}"} %>
							<% else %>
								You are not following anyone right now.
							<% end %>
						</div>
					</div>

					<div class="profilepagediv2">
						<div id="followers">
							<b>Followed By:</b> &nbsp
							<% if @followed.count > 0 %>
								<%= select_tag 'followers_dropdown', options_from_collection_for_select(@followed, "owner_id", "owner_name") %> &nbsp
								<%= link_to "Remove", "#", :class => "unfollowedby", :data => {:current_prover_id => "#{@prover.id}"} %>
							<% else %>
								No one is following you right now.
							<% end %>
						</div>
					</div>

					<div class="profilepagediv2">
						<div id="bookmark">
							<b>Bookmarks:</b> &nbsp
							<% if @bookmarks.count > 0 %>
								<%= select_tag 'bookmark_dropdown', options_from_collection_for_select(@bookmarks, "id", "post_message") %> &nbsp
								<%= link_to "Remove", "#", :class => "unbookmark2" %>
							<% else %>
								You have no bookmarks right now.
							<% end %>
						</div>
					</div>
				</div>

				<div class="profilepagediv1">
					<b>Teams:</b>
					<div class="profilepagediv2">
						<div id="teammembership">
							<b>Membership:</b> &nbsp
							<% if @teammembership.count > 0 %>
								<%= select_tag 'teammembership_dropdown', options_from_collection_for_select(@teammembership, "id", "team_membership") %> &nbsp
								<%= link_to "Resign", "#", :class => "resignteam" %>
							<% else %>
								You are not a member of any teams right now.
							<% end %>
						</div>
					</div>
					<div class="profilepagediv2">
						<div id="teamownership">
							<b>Ownership:</b> &nbsp
							<% if @teamownership.count > 0 %>
								<%= select_tag 'teamownership_dropdown', options_from_collection_for_select(@teamownership, "id", "team_ownership") %> &nbsp
								<%= link_to "Manage", "#", :class => "resignteam" %>
							<% else %>
								You do not own any teams right now.
							<% end %>
						</div>
					</div>

				</div>

				<div class="profilepagediv1">
					<b>Groups:</b>
					<div class="profilepagediv2">
						<div id="groups">
							<b>My Groups:</b> &nbsp
							<%= search_field_tag 'group' %> &nbsp
							<%= link_to "Resign", "#", :class => "resigngroup" %> &nbsp
							<%= link_to "Disband", "#", :class => "disbandgroup" %>
						</div>
						<div class="profilepagediv2">
							<div id="groupsmanage">
								<b>Create:</b> &nbsp
								<%= search_field_tag 'name' %> &nbsp Members: &nbsp
								<%= search_field_tag 'groupmembers' %> &nbsp
								<%= link_to "Add", "#", :class => "addgroup" %> &nbsp
								<button>Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="profilefilters">
				<div class="profilepagediv1">
					<form action="<%= filters_path %>" method="post">
						<b>Filters:</b>
						<div class="profilepagediv2" style="border-width: 2px">
							<b>Who:</b> &nbsp
							<div class="profilepagediv2">
								<div class="flexcontainer1">
									<div class="flexitem1">
										<b>Posted by:</b>
									</div>
									<div class="flexitem1">
										<%= select_tag 'filter_users_dropdown', content_tag(:option, "", :value => "-1") +options_from_collection_for_select(@provers, "id", "provername"), :class => "provers_dropdown" %> &nbsp
									</div>
									<div class="flexitem1">
										<%= link_to "Self", "#", :class => "postedbyself" %>
									</div>
								</div>
							</div>
						</div>
						<div class="profilepagediv2" style="border-width: 2px">
							<b>What:</b>
							<div class="profilepagediv2">
								<b>Post type:</b> &nbsp
								<%= check_box_tag 'opinions', 'true', false %>
								<%= label_tag 'Opinions' %> &nbsp
								<%= check_box_tag 'initiators', 'true', false %>
								<%= label_tag 'Initiators' %> &nbsp
								<%= check_box_tag 'comments', 'true', false %>
								<%= label_tag 'Comments' %> &nbsp &nbsp &nbsp
								(Select at least one)
							</div>
							<div class="profilepagediv2">
								<b>Constraints:</b> &nbsp
								<%= check_box_tag 'lone_wolf', 'true', false %>
								<%= label_tag 'Lone wolf' %> &nbsp
								<%= check_box_tag 'bookmarks', 'true', false %>
								<%= label_tag 'Bookmarks' %> &nbsp
								<%= check_box_tag 'following', 'true', false %>
								<%= label_tag 'Following' %> &nbsp
								<%= check_box_tag 'privateposts', 'true', false %>
								<%= label_tag 'Private' %> &nbsp
								<%= check_box_tag 'public_viewing', 'true', false %>
								<%= label_tag 'Public Viewing', nil, class: 'publicviewinglabel' %> &nbsp
								<%= check_box_tag 'public_comments', 'true', false %>
								<%= label_tag 'Public Comments', nil, class: 'publiccommentslabel' %> &nbsp
							</div>
							<div class="profilepagediv2">
								<b>Status:</b> &nbsp
								<%= radio_button_tag(:status, "contested") %>
								<%= label_tag(:status, "Contested") %> &nbsp
								<%= radio_button_tag(:status, "uncontested") %>
								<%= label_tag(:status, "Uncontested") %> &nbsp
							</div>
							<div class="profilepagediv2">
								<b>Parents:</b> &nbsp
								<%= radio_button_tag(:parents, "has_parent") %>
								<%= label_tag(:parents, "Has a parent") %> &nbsp
								<%= radio_button_tag(:parents, "has_no_parent") %>
								<%= label_tag(:parents, "Has no parent") %> &nbsp
							</div>
							<div class="profilepagediv2">
								<b>Level:</b> &nbsp
								<%= radio_button_tag(:level, "zero") %>
								<%= label_tag(:level, "Zero") %> &nbsp
								<%= radio_button_tag(:level, "nonzero") %>
								<%= label_tag(:level, "Non-zero") %> &nbsp
							</div>
						</div>
						<div class="profilepagediv2" style="border-width: 2px">
							<b>When:</b>
							<div class="profilepagediv2">
								<b>Updated:</b> &nbsp
								<%= radio_button_tag(:timerange, "today") %>
								<%= label_tag(:timerange, "Today") %> &nbsp
								<%= radio_button_tag(:timerange, "last_week") %>
								<%= label_tag(:timerange, "Last Week") %> &nbsp
								<%= radio_button_tag(:timerange, "last_month") %>
								<%= label_tag(:timerange, "Last Month") %> &nbsp
								<%= radio_button_tag(:timerange, "last_year") %>
								<%= label_tag(:timerange, "Last Year") %> &nbsp
							</div>
						</div>
						<div class="profilepagediv2" style="border-width: 2px; margin-bottom: 20px">
							<b>Sort:</b>
							<div class="profilepagediv2">
								<b>By:</b> &nbsp
								<%= radio_button_tag(:sort, "sort_by_created_at") %>
								<%= label_tag(:sort, "Created date") %> &nbsp
								<%= radio_button_tag(:sort, "sort_by_updated_at") %>
								<%= label_tag(:sort, "Updated date") %> &nbsp
								<%= radio_button_tag(:sort, "sort_by_views") %>
								<%= label_tag(:sort, "Views") %> &nbsp
								<%= radio_button_tag(:sort, "sort_by_votes") %>
								<%= label_tag(:sort, "Popularity") %> &nbsp
							</div>
						</div>

						<div class="flexcontainer1">
							<div class="flexitem1">
								<b>My Filters:</b> &nbsp
							</div>
							<div class="flexitem1">
								<% if current_prover.administrator? %>
									<%= select_tag 'myfilters', options_from_collection_for_select(@defaultfilters, "id", "name", current_prover.cur_filter.id) + content_tag(:option, @divider, :disabled => true, :value => "-1") + options_from_collection_for_select(@customfilters, "id", "name", current_prover.cur_filter.id), :class => 'myfilters' %>
								<% else %>
									<%= select_tag 'myfilters', options_from_collection_for_select(@customfilters, "id", "name"), :class => 'myfilters' %>
							<% end %>
							</div>
							<div class="flexitem1" style="margin-top:6px; font-size: 10px">
								<textarea class="myfiltername" name="myfiltername" rows="1" cols="50" placeholder="Select existing filter or enter new name here."></textarea> &nbsp
							</div>
							<div class="flexitem1">
								<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
								<%= hidden_field_tag :default_tab, "filters" %>
								<%= submit_tag("Save") %> &nbsp
							</div>
							<div class="flexcontainer1">
								<div class="flexitem1">
									<button id="filterdeletebutton">Delete</button> &nbsp
								</div>
								<div class="flexitem1">
									<button id="filterresetbutton">Reset</button> &nbsp
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>

			<div id="profilemobile">
				Profile Mobile
			</div>

			<div id="profileemail">
				Profile Email
			</div>

			<div id="profileapps">
				Profile Apps
			</div>

			<div id="profilerating">
				<div id="profileratingstats">
					<li>Current Rating = <%= @prover.rating.round(2) %></li>
					<li>Current Rank = <%= @prover.ranking %></li>
					<li>Percentile = <%= @prover.percentile.round(2) %></li>
					<li>Highest Rating = <%= @prover.highest_rating.round(2) %> (<%= @prover.highest_rating_date.strftime('%x') %>) &nbsp
					<% if @owner %>
						<button class="resethighestratingbutton" name="Reset" type="button">
							Reset
						</button>
					<% end %> </li>
				</div>

				<div id="ratingexplanation">
					<b><div>
						Explanation:
					</div></b>

					<div style="margin-top: 10px">
						When a post<b>*</b> is first submitted, its status will be set to "true" (green) and its score to 100.
						Once contested, its status will become false (red) and its score reduced to 0. As long as a
						post's status remains true, its score will decay using a half-life formula set by the site
						administrator. For example, with a 26-week half-life, the score for a true post would be reduced to
						60.62 after 19 weeks. If its status reverted to false, its score would be reduced to 0. If it became
						true again, it would reset (to 100) and the decay process would start over. A post will likely toggle
						back and forth between true and false throughout its lifetime with its score ranging between 0 and 100.
					</div>

					<div style="margin-top: 10px">
						<b><u><em>
							A user's rating is calculated by averaging his/her 100 most recently active post<b>*</b> scores.
						</em></u></b>
					</div>

					<div style="margin-top: 10px">
						<b>*</b>(Initial opinions and objections only. Comments and initiators are not scored.)
					</div>
				</div>
			</div>

			<div id="profileadministrative">
				Profile Administrative
			</div>
		</div>
	</div>

</body>