<div class="post <%= status_color(post) %> <%= kind %> <%= indent.humanize %>">

	<%= link_to image_tag(post.prover.image_url, :class => "postimage"), post.prover %>

	<div class="vlevel2 sidepadding">
		<div class="flexcontainerpostrow">
			<%  tmp = post.prover.provername.downcase + " (" + post.prover.first_name + " " + post.prover.last_name + ")" %>
			<div class="flexitempostrow">
				<%= link_to tmp, post.prover %>,
			</div>

			<% if post.topic.lone_wolf && (post.prover == post.topic.prover) %>
				<div class="flexitempostrow">
					<%= image_tag('wolf3.png', :size => '9x12') %>
				</div>
			<% end %>

			<div class="flexitempostrow">
				<%= link_to post.prover.rating.round(2), prover_path(post.prover, :default_tab => "rating") %>,
			</div>

			<% if already_following(post.prover.id) %>
				<div class="flexitempostrow">
					<%= link_to "Unfollow", "#", :class => "unfollow", :data => {:prover_id => "#{post.prover.id}"} %>
				</div>
			<% else %>
				<div class="flexitempostrow">
					<%= link_to "Follow", "#", :class => "follow", :data => {:prover_id => "#{post.prover.id}"} %>
				</div>
			<% end %>
		</div>

		<div class="right">
			Created on: <%= post.created_at.strftime("%c") %>
		</div>
	</div>

	<div class="vlevel1 sidepadding">
		<div class="flexcontainerpostrow">


			<% if post.topic.lone_wolf %>
				<div class="flexitempostrow">
					<%= image_tag('wolf3.png', :size => '11x15') %>
				</div>
			<% end %>

			<% if post.topic.public_viewing %>
				<div class="flexitempostrow">
					<%= image_tag('eye.png', :size => '13x15') %>
				</div>
			<% end %>

			<% if post.topic.public_comments %>
				<div class="flexitempostrow">
					<%= image_tag('comment.png', :size => '11x15') %>
				</div>
			<% end %>

			<% unless post.url.empty? %>
				<div class="flexitempostrow">
					<%= link_to image_tag('links.png', :size => '13x13'), post.url %>
				</div>
			<% end %>

			<em><div class="message flexitempostrow">
				<%= link_to post.message, post, {:style=>'color:blue;'} %>
			</div></em>
		</div>

		<div class="right" style="margin-top: 4px">
			<% if current_prover.administrator %>
				<%= link_to image_tag('redx.png', :size => '11x11'), '#' %>
			<% end %>
		</div>

		<!--<div class="right spacing">-->
			<!--<%= link_to "Less", "#", :id => "lesspost"%>-->
			<!--<span class="vlevelindicator1"><1></span>-->
			<!--<span class="vlevelindicator2"><2></span>-->
			<!--<span class="vlevelindicator3"><3></span>-->
			<!--<span class="vlevelindicator4"><4></span>-->
			<!--<%= link_to "More", "#", :id => "morepost"%>-->
		<!--</div>-->
	</div>

	<div class="vlevel3 sidepadding">
		<div class="flexcontainerpostrow">

			<% if post.topic.private? %>
				<% if post.topic.use_teams? %>
					<div class="flexitempostrow">
						<%= select_tag 'team1', content_tag(:option, post.team1type, :value => "-1") + options_from_collection_for_select(post.team1, "prover_id", "prover_name", :disabled => Proc.new { true }), :class => 'teamlist' %>
					</div>
					<% unless post.kind == Post::COMMENT %>
						<div class="flexitempostrow">
							<%= select_tag 'team2', content_tag(:option, post.team2type, :value => "-1") + options_from_collection_for_select(post.team2, "prover_id", "prover_name", :disabled => Proc.new { true }), :class => 'teamlist' %>
						</div>
					<% end %>
				<% else %>
					<div class="flexitempostrow">
						<%= select_tag 'team1', content_tag(:option, post.team1type, :value => "-1") + options_from_collection_for_select(post.team1, "prover_id", "prover_name", :disabled => Proc.new { true }), :class => 'teamlist' %>
					</div>
				<% end %>
			<% end %>

			<div class="flexitempostrow">
				<%= offspring(post) %>
			</div>

			<div class="flexitempostrow">
				<%= post.views %> views,
			</div>

			<% unless post.kind == Post::INITIATOR %>
				<div class="flexitempostrow">
					<%= level(post) %>
				</div>
			<% end %>

			<% if already_bookmarked(post) %>
				<div class="flexitempostrow">
					<%= link_to "Unbookmark", "#", :class => "unbookmark1", :data => {:post => "#{post.id}"} %>
				</div>
			<% else %>
				<div class="flexitempostrow">
					<%= link_to "Bookmark", "#", :class => "bookmark", :data => {:post => "#{post.id}"} %>
				</div>
			<% end %>
		</div>

		<div class="right">
			Last activity on: <%= post.updated_at.strftime("%c") %>
		</div>
	</div>

	<% unless post.support.empty? %>
		<div class="vlevel4 sidepadding">
			<em><%= post.support %></em>
		</div>
	<% end %>

	<div class="vlevel5 sidepadding">
		Categories: &nbsp
		<% if post.categories.empty? %>
			None
		<% else %>
			<% post.categories.each_with_index do |c, i| %>
				<% unless i == 0 %>
					, &nbsp
				<% end %>
				<%= c %>
			<% end %>
		<% end %>
	</div>
</div>