<div class="post <%= status_color(post) %> <%= kind %>
<%= indent.humanize %>" id="post<%= post.id %>" data_post_kind="<%= post.kind %>">
	<div class="growmax flexContainer_column_start_start">
		<div class="growmax flexContainer_row_center_start">
			<%= link_to image_tag(post.prover.image_url, :class => "postimage"), post.prover %>

			<div class="growmax">
				<div class="vlevel2 flexContainer_row_center_space  fontsize10  sidepadding">
					<div class="flexContainer_row_center_start">
						<%  tmp = post.prover.provername.downcase + " (" + post.prover.first_name + " " + post.prover.last_name + ")" %>
						<%= link_to tmp, post.prover %>, &nbsp

						<%= post.prover.rating.round(2) %>, &nbsp

						<% if following(post.prover.id) %>
							<%= link_to "Unfollow", "#", :class => "unfollow", :data => {:prover_id => "#{post.prover.id}"} %>
						<% else %>
							<%= link_to "Follow", "#", :class => "follow", :data => {:prover_id => "#{post.prover.id}"} %>
						<% end %> &nbsp
					</div>

					<div class="flexContainer_row_center_end">
						Created on: <%= post.created_at.strftime("%c") %>
					</div>
				</div>

				<div class="vlevel1 flexContainer_row_center_space fontsize12 sidepadding">
					<div class="flexContainer_row_center_start">

						<% if post.lockedby != nil %>
							<%= image_tag('lock2.png', :size => '15x14') %> &nbsp
						<% end %>

						<% unless featured == "true"%>
							<% if current_prover.administrator %>
								<% if post.parent == nil %>
									<%= link_to image_tag('trash.png', :size => '15x15'), '#', :class => "deletetopic", :data => {:topic => "#{post.topic.id}"} %> &nbsp
								<% else %>
									<%= link_to image_tag('trash.png', :size => '15x15'), '#', :class => "deletepost", :data => {:post => "#{post.id}"} %> &nbsp
								<% end %>
							<% else %>
								<% if current_prover == post.prover %>
									<% if post.offspring_opinions == 0 %>
										<% if post.parent == nil %>
											<%= link_to image_tag('trash.png', :size => '15x15'), '#', :class => "deletetopic", :data => {:topic => "#{post.topic.id}"} %> &nbsp
										<% else %>
											<%= link_to image_tag('trash.png', :size => '15x15'), '#', :class => "deletepost", :data => {:post => "#{post.id}"} %> &nbsp
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						<% end %>

						<% if post.topic.lone_wolf %>
							<% if post.kind == Post::OPINION %>
								<%= image_tag('wolf3.png', :size => '11x15') %> &nbsp
							<% elsif post.kind == Post::COMMENT %>
								<%= image_tag('wolf3.png', :size => '11x15') %> &nbsp
							<% end %>
						<% end %>

						<% unless post.url.empty? %>
							<%= link_to image_tag('links.png', :size => '13x13'), post.url %> &nbsp
						<% end %>

						<div class="message">
							<em>
								<% if post.kind == Post::OPINION %>
									<% if post.level == 0 %>
										<% premessage = "In my opinion, " %>
									<% else %>
										<% premessage = "I object! " %>
									<% end %>
								<% else %>
									<% premessage = "" %>
								<% end %>

								<% if featured == "true"%>
									<%= premessage + post.message %>
								<% else %>
									<% message = premessage + post.message %>
									<%= link_to message, post, {:style=>'color:blue;'} %>
								<% end %>
							</em>

							<% unless post.support.empty? || post.prover.verbosity > 3 %>
								&nbsp <%= link_to "[+]", "#", :class => "jumptovlevel4", :data => {:postid => post.id} %>
						<% end %>
						</div>
					</div>

					<div class="flexContainer_row_center_end  fontsize13">
						<%= link_to "Less", "#", :class => "lesspost", :data => {:postid => post.id} %> &nbsp
						<span class="verbosity" id=<%= "post" + post.id.to_s + "verbosity"%>><%= post.prover.verbosity %></span> &nbsp
						<%= link_to "More", "#", :class => "morepost", :data => {:postid => post.id} %>
					</div>
				</div>

				<div class="vlevel3 flexContainer_row_center_space  fontsize10  sidepadding">
					<div class="flexContainer_row_center_start">
						<% if post.topic.private? %>
							<% if post.topic.public_viewing %>
								Semiprivate: &nbsp
							<% else %>
								Private: &nbsp
							<% end %>
							<% if post.topic.use_teams? %>
								<%= select_tag 'team1', content_tag(:option, post.team1type, :value => "-1") + options_from_collection_for_select(post.team1, "prover_id", "prover_name", :disabled => Proc.new { true }), :class => 'teamlist' %> &nbsp
								<% unless post.kind == Post::COMMENT %>
									<%= select_tag 'team2', content_tag(:option, post.team2type, :value => "-1") + options_from_collection_for_select(post.team2, "prover_id", "prover_name", :disabled => Proc.new { true }), :class => 'teamlist' %> &nbsp
								<% end %>
							<% else %>
								<%= select_tag 'team1', content_tag(:option, post.team1type, :value => "-1") + options_from_collection_for_select(post.team1, "prover_id", "prover_name", :disabled => Proc.new { true }), :class => 'teamlist' %> &nbsp
							<% end %>
						<% end %>

						<% if post.topic.public_comments %>
							&nbsp <%= image_tag('comment.png', :size => '11x15') %> &nbsp
						<% end %>

						<%= offspring(post) %> &nbsp

						<%= post.views %> views, &nbsp

						<% unless post.kind == Post::INITIATOR %>
							<%= level(post) %> &nbsp
						<% end %>

						<% if bookmarked(post) %>
							<%= link_to "Unbookmark", "#", :class => "unbookmark1", :data => {:post => "#{post.id}"} %>,
						<% else %>
							<%= link_to "Bookmark", "#", :class => "bookmark", :data => {:post => "#{post.id}"} %>,
						<% end %> &nbsp &nbsp

						<% if liked(post) %>
							<%= link_to image_tag('thumbs-up-blue.png', :size => '15x15'), '#', :class => "unlike", :data => {:post => "#{post.id}"} %>
						<% else %>
							<%= link_to image_tag('thumbs-up-gray.png', :size => '15x15'), '#', :class => "like", :data => {:post => "#{post.id}", :likes => true} %>
						<% end %> &nbsp
						<%= post.points %> &nbsp
						<% if disliked(post) %>
							<%= link_to image_tag('thumbs-down-blue.png', :size => '15x15'), '#', :class => "unlike", :data => {:post => "#{post.id}"} %>
						<% else %>
							<%= link_to image_tag('thumbs-down-gray.png', :size => '15x15'), '#', :class => "like", :data => {:post => "#{post.id}", :likes => false} %>
						<% end %> &nbsp
					</div>

					<div class="flexContainer_row_center_end">
						Last activity on: <%= post.updated_at.strftime("%c") %>
					</div>
				</div>
			</div>
		</div>
		<div class="growmax">
			<% unless post.support.empty? %>
				<div class="support_styling vlevel4">
					<span style="color:blue"><em><%= h(post.support).gsub(/\n/, '<br/>').html_safe %></em></span>
				</div>
			<% end %>

			<div class="catalog_styling  vlevel5">
				Categories: &nbsp &nbsp
				<% if post.categories.empty? %>
					None
				<% else %>
					<% post.categories.each_with_index do |c, i| %>
						<% unless i == 0 %>
							, &nbsp
						<% end %>
						<%= c.name %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>