<body>
	<div class="flexContainer_row_center_space">
		<div style="margin-left: 20px;">
			<%= link_to 'Create', posts_new_path %>
		</div>
		<div class="flexContainer_row_start_start">
			<% if @customfilters.empty? %>
				<%= select_tag 'filteroptions', options_from_collection_for_select(@defaultfilters, "filter_id", "filter_name", current_prover.cur_filter.id), :class => 'fontsize11' %>
			<% else %>
				<%= select_tag 'filteroptions', options_from_collection_for_select(@defaultfilters, "filter_id", "filter_name", current_prover.cur_filter.id) + content_tag(:option, @divider, :disabled => true, :value => "-1") + options_from_collection_for_select(@customfilters, "filter_id", "filter_name", current_prover.cur_filter.id), :class => 'fontsize11' %>
			<% end %>
			&nbsp <%= link_to image_tag('edit.svg', :size => '18x18'), '#', :id => "editfilters" %>
		</div>
		<div style="margin-right: 20px;">
			<%= link_to "Less", "#", :id => "lessmaster"%>
			<<span class="verbosity"></span>>
			<%= link_to "More", "#", :id => "moremaster"%>
		</div>
	</div>

	<div class="toppadding10">
		<% @posts.each do |post| %>
			<%= render partial: "application/post", object: post, locals: {indent: 0, kind: ""} %>
		<% end %>
	</div>
</body>
