<html xmlns="http://www.w3.org/1999/html">

	<body>
		<div class="mainbody">
			<div class="sidepadding spacing">
				<%= link_to 'Create', posts_new_path %>
				<div class="right" style="margin-right: 5px">
					<a href="#" id="refresh">Refresh(0)</a>
					<a href="#" id="moremaster">More</a>
					<a href="#" id="lessmaster">Less</a>
				</div>
			</div>

			<div class="toppadding10">
				<% @posts.each do |post| %>
					<% user = post.user:quietly %>
					<div id=post class="<%= status_color(post) %>">
						<div class="sidepadding">
							<%= user.first_name %>
							<%= user.last_name %> @
							<%= user.user_name %>,
							<%= user.rating.round(2) %>,
							<a href="#" id="follow">Follow</a>
							<div class="right">
								<%= post.created_at.strftime("%c") %>
							</div>
						</div>
						<div class="sidepadding">
							<em><span class="message">
								<%= link_to post.message, post %>
							</span></em>
							<div class="right spacing">
								<a href="#" id="morepost">More</a>
								<a href="#" id="lesspost">Less</a>
							</div>
						</div>
						<div class="sidepadding">
							<%= offspring(post) %>
							<%= post.views %> views,
							<%= post.points %> points,
							<%= level(post) %>
							<a href="#" id="bookmark">Bookmark</a>
							<div class="right">
								<%= post.updated_at.strftime("%c") %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</body>
</html>
