<html xmlns="http://www.w3.org/1999/html">
	<head>
		<script type="text/javascript">

			var verbosity = <%= current_prover.verbosity %>

			$(function() {
				$('#lessmaster').on("click", function () {
					console.log("Verbosity level was " + verbosity)
					if (verbosity > 1) {
						verbosity -= 1;
					}

					switch (verbosity) {
						case 3:
							console.log("level 3.");
							$('.vlevel4').hide();
							break;
						case 2:
							console.log("level 2.");
							$('.vlevel3').hide();
							break;
						case 1:
							console.log("level 1.");
							$('.vlevel2').hide();
							break;
						case 1:
						default:
							console.log("Can not hide verbosity level 1.");
							break;
					}

					console.log("verbosity level is now " + verbosity)
				});

				$('#moremaster').on("click", function () {
					console.log("Verbosity level was " + verbosity)
					if (verbosity < 4) {
						verbosity += 1;
					}

					switch (verbosity) {
						case 4:
							console.log("level 4.");
							$('.vlevel4').show();
							break;
						case 3:
							console.log("level 3.");
							$('.vlevel3').show();
							break;
						case 2:
						default:
							console.log("level 2.");
							$('.vlevel2').show();
							break;
					}

					console.log("verbosity level is now " + verbosity)
				});

				$('#lesspost').on("click", function () {
					console.log("Decreasing post verbosity.");
				});

				$('#morepost').on("click", function () {
					console.log("Increasing post verbosity.");
				});

				$('#follow').on("click", function () {
					console.log("Following...");
				});

				$(function () {
					switch (verbosity) {
						case 4:
							console.log("Showing verbosity level 4.");
							$('.vlevel1').show();
							$('.vlevel2').show();
							$('.vlevel3').show();
							$('.vlevel4').show();
							break;
						case 3:
							console.log("Showing verbosity level 3.");
							$('.vlevel1').show();
							$('.vlevel2').show();
							$('.vlevel3').show();
							$('.vlevel4').hide();
							break;
						case 2:
							console.log("Showing verbosity level 2.");
							$('.vlevel1').show();
							$('.vlevel2').show();
							$('.vlevel3').hide();
							$('.vlevel4').hide();
							break;
						case 1:
						default:
							console.log("Showing verbosity level 1.");
							$('.vlevel1').show();
							$('.vlevel2').hide();
							$('.vlevel3').hide();
							$('.vlevel4').hide();
					}
				});
			});
		</script>
	</head>

	<body>
		<div class="mainbody">
			<div class="sidepadding spacing">
				<%= link_to 'Create', posts_new_path %>
				<div class="right" style="margin-right: 5px">
					<%= link_to "Less", "#", :id => "lessmaster"%>
					<%= link_to "More", "#", :id => "moremaster"%>
				</div>
			</div>

			<div class="toppadding10">
				<% @posts.each do |post| %>
					<div class="post <%= status_color(post) %>">
						<div class="vlevel2 sidepadding">
							<% tmp = post.prover.provername.downcase + " (" + post.prover.first_name + " " + post.prover.last_name + ")" %>
							<%= link_to tmp, post.prover %>, &nbsp
							<%= post.prover.rating.round(2) %>, &nbsp
							<a href="#" id="follow">Follow</a>
							<div class="right">
								<%= post.created_at.strftime("%c") %>
							</div>
						</div>
						<div class="vlevel1 sidepadding">
							<em><span class="message">
								<%= link_to post.message, post, {:style=>'color:blue;'} %>
							</span></em>
							<div class="right spacing">
								<%= link_to "Less", "#", :id => "lesspost"%>
								<%= link_to "More", "#", :id => "morepost"%>
							</div>
						</div>
						<div class="vlevel3 sidepadding">
							<%= offspring(post) %> &nbsp
							<%= post.views %> views, &nbsp
							<%= level(post) %> &nbsp
							<a href="#" id="bookmark">Bookmark</a>
							<div class="right">
								<%= post.updated_at.strftime("%c") %>
							</div>
						</div>
						<div class="vlevel4 sidepadding">
							<%= post.support %>
					  </div>
					</div>
				<% end %>
			</div>
		</div>
	</body>
</html>
