<html xmlns="http://www.w3.org/1999/html">
	<head>
		<style>
          body {
              background-color: rgb(255, 252, 225);
          }
          h1 {
              color: black;
              font-family: "Helvetica Neue", "Arial", sans-serif;
              font-size: 48px;
              font-weight: bold;
              font-style: italic;
              text-decoration: underline;
              display: inline;
          }
          #post {
              background-color: mistyrose;
              border-radius: 10px;
              padding: 5px;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
          }
		</style>
	</head>
  <body>
  <div style="background-color: white;"><img src="/assets/Scales.jpg" height="80" width="120">
        <h1 style="margin-left: 30px; vertical-align: 100%">ProveIt!</h1></div>

        <div style="margin-top: 20px; margin-left: 150px; margin-right: 150px">
          <div style="margin-left: 10px; margin-right: 10px"><span>
            <%= link_to 'Create', new_topic_path %>
          </span>
          <span style="float:right">
            <%= link_to 'Less', "." %>
            <%= link_to 'More', "." %>
          </span></div>

          <div style="margin-top: 10px;">
            <% @topics.each do |topic| %>
              <% post = topic.root_id %>
              <% user = post.user:quietly %>
              <div id=post>
                <div>
                     <%= user.user_name %>,
                     <%= user.rating.round(2) %>,
                     <%= link_to 'Follow', "." %>
                   <span class="float_right"><%= post.created_at.strftime("%c") %></span>
                </div>
                <div>
                  <span style="font-size: 14px;"><%= link_to post.message,post %></span>
                  <span class="float_right"><%= link_to 'More', "." %></span>
                  <span class="float_right"><%= link_to 'Less', "." %></span>
                </div>
                <div>
                  Objections (<%= post.children %> /
                  <%= post.offspring %>),
                  <%= post.views %> views,
                  <%= post.points %> points,
                  level = <%= post.level %>,
                  <%= link_to 'Bookmark', "." %>
                  <span class="float_right"><%= post.updated_at.strftime("%c") %></span>
                </div>
              </div>
             <% end %>
          </div>
        </div>
	</body>


</html>
