<p class="navbar-text pull-right">
	<% if prover_signed_in? %>
		Logged in as <strong><%= current_prover.email %></strong>.
		<%= link_to 'Edit profile', edit_prover_registration_path, :class => 'navbar-link' %> |
		<%= link_to "Logout", destroy_prover_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
		<%= link_to "Sign up", new_prover_registration_path, :class => 'navbar-link'  %> |
		<%= link_to "Login", new_prover_session_path, :class => 'navbar-link'  %>
	<% end %>
</p>