<div>
	<title>Prove.it!</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div id="header">
		<%= link_to image_tag('Scales.jpg', :size => '120x80'), root_path %>
		<p id="proveit">
			Prove.it!
		</p>
		<div id="breadcrumbs" class="sidepadding right spacing">
			<%= link_to 'Home', root_path%>
			<%= link_to 'Help', help_path%>
			<%= link_to 'About', about_path%>
			<%= link_to 'Contact', contact_path%>
			<%= link_to 'Logout', destroy_prover_session_path, :method => :delete %>
		</div>
	</div>

	<div class="divider">
		<hr size="2" noshade>
	</div>

	<% if prover_signed_in? %>
		<div id="leftcolumn">
			<ul class="userinfo">
				<li style="display: block; line-height: 130%">
					<%= link_to image_tag('Jeff.jpg', :border => 1, :size => '100x100'), "#" %>
				</li>
				<li style="display: block; line-height: 130%">
					<%= @user.first_name %>
					<%= @user.last_name %> @
					<%= @user.user_name %>
				</li>
				<li style="display: block; line-height: 130%">
					Current Rating:
					<%= @user.rating.round(2) %>
				</li>
			</ul>
		</div>
	<% end %>
	<div id="rightcolumn">
	</div>

	<%= yield %>

</div>