<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>ProveIt!</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<div id="header" class="flexContainer_row_top_space">
			<div id="scales">
				<%= link_to image_tag('Logomakr_7GweCs.png', :size => '350x80'), root_path %>
			</div>
			<div id="breadcrumbs" class="spacing">
				<%= link_to 'Home', root_path %>
				<%= link_to 'About', about_path %>
				<%= link_to 'Help', help_path %>
				<%= link_to 'Motivation', motivation_path %>
				<%= link_to 'Contact', contact_path %>
			</div>
		</div>

		<div class="divider">
			<hr size="2" noshade>
		</div>

		<div class="flexContainer_row_start_start  growmax">
			<div id="leftcolumn">
				<% if prover_signed_in? %>
					<ul id="userinfo">
						<%= link_to image_tag(current_prover.image_url, :id => "userimage"), prover_path(current_prover)%>
						<li style="display: block; margin-top: 10px; margin-left: 5px; line-height: 135%">
							<% tmp = current_prover.provername.downcase + " (" + current_prover.first_name + " " + current_prover.last_name + ")"%>
							<%= link_to tmp, current_prover %>
						</li>
						<li style="display: block; margin-left: 5px; line-height: 135%">
							Rating: <%= current_prover.rating.round(2) %>
						</li>
						<li style="display: block; margin-left: 5px; line-height: 135%">
							<%= link_to 'Logout', destroy_prover_session_path, :method => :delete %>
						</li>
					</ul>
				<% end %>
			</div>

			<div id="mainbody">
				<%= yield %>
			</div>

			<div id="rightcolumn">
				<% if prover_signed_in? %>
					<div id="leaderboard">
						<%= render 'provers/shared/leaderboard' %>
					</div>
					<div id="marquee">
						<%= render 'provers/shared/marquee' %>
					</div>
				<% end %>
			</div>
		</div>
	</body>
</html>