<div>
	<title>Prove.it!</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div id="header">
		<%= link_to image_tag('Scales.jpg', :size => '120x80'), root_path %>
		<p id="proveit">
			Prove.it!
		</p>
		<div id="breadcrumbs" class="sidepadding right spacing">
			<%= link_to 'Home', root_path %>
			<%= link_to 'Help', help_path %>
			<%= link_to 'About', about_path %>
			<%= link_to 'Contact', contact_path %>
		</div>
	</div>

	<div class="divider">
		<hr size="2" noshade>
	</div>

	<% if prover_signed_in? %>
		<div id="leftcolumn">
			<ul class="userinfo">
				<%= link_to image_tag(current_prover.image_url, :class => "userimage"), prover_path(current_prover, :default_tab => "profile")%>
				<li style="display: block; margin-top: 10px; margin-left: 5px; line-height: 135%">
					<% tmp = current_prover.provername.downcase %>
					<%= link_to tmp, current_prover %>
				</li>
				<li style="display: block; margin-left: 5px; line-height: 135%">
					<% tmp = " (" + current_prover.first_name + " " + current_prover.last_name + ")" %>
					<%= link_to tmp, current_prover %>
				</li>
				<li style="display: block; margin-left: 5px; line-height: 135%">
					Current Rating: <%= link_to current_prover.calculate_rating().round(2), prover_path(current_prover, :default_tab => "rating") %>
				</li>
				<li style="display: block; margin-left: 5px; line-height: 135%">
					Filter: <%= link_to current_prover.filter.capitalize, prover_path(current_prover, :default_tab => "filters") %>
				</li>
				<li style="display: block; margin-left: 5px; line-height: 135%">
					<%= link_to 'Logout', destroy_prover_session_path, :method => :delete %>
				</li>
			</ul>
		</div>
	<% end %>

	<% if prover_signed_in? %>
		<div id="rightcolumn">
			<div id="scoreboard">
				<div id="scoreboardtitle">
					Scoreboard
				</div>
				<hr size="1" noshade>
				<table>
					<tr>
						<th class="scoreboardhead">Rank</th>
						<th class="scoreboardhead">Name</th>
						<th class="scoreboardhead">Rating</th>
					</tr>
					<% i = 1 %>
					<% @top_provers.each do |p| %>
						<tr>
							<td class="scoreboardline"><%= i %></td>
							<td class="scoreboardline"><%= link_to p.provername, p %></td>
							<td class="scoreboardline"><%= link_to p.rating.round(2), prover_path(p, :default_tab => "rating") %></td>
						</tr>
						<% i += 1 %>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>

	<%= yield %>

</div>