<p id="notice"><%= notice %></p>

<h1>Listing Accounts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Timezone</th>
      <th>Language</th>
      <th>Password</th>
      <th>Verbosity</th>
      <th>Default filter</th>
      <th>List</th>
      <th>Location</th>
      <th>Occupation</th>
      <th>Phone</th>
      <th>Education</th>
      <th>About</th>
      <th>Opinions</th>
      <th>Comments</th>
      <th>Initiators</th>
      <th>Offspring</th>
      <th>Rating</th>
      <th>Percentile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.user_id %></td>
        <td><%= account.user_name %></td>
        <td><%= account.first_name %></td>
        <td><%= account.last_name %></td>
        <td><%= account.email %></td>
        <td><%= account.timezone %></td>
        <td><%= account.language %></td>
        <td><%= account.password %></td>
        <td><%= account.verbosity %></td>
        <td><%= account.default_filter %></td>
        <td><%= account.list %></td>
        <td><%= account.location %></td>
        <td><%= account.occupation %></td>
        <td><%= account.phone %></td>
        <td><%= account.education %></td>
        <td><%= account.about %></td>
        <td><%= account.opinions %></td>
        <td><%= account.comments %></td>
        <td><%= account.initiators %></td>
        <td><%= account.offspring %></td>
        <td><%= account.rating %></td>
        <td><%= account.percentile %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
