<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @account.user_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @account.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @account.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @account.timezone %>
</p>

<p>
  <strong>Language:</strong>
  <%= @account.language %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<p>
  <strong>Verbosity:</strong>
  <%= @account.verbosity %>
</p>

<p>
  <strong>Default filter:</strong>
  <%= @account.default_filter %>
</p>

<p>
  <strong>List:</strong>
  <%= @account.list %>
</p>

<p>
  <strong>Location:</strong>
  <%= @account.location %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @account.occupation %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<p>
  <strong>Education:</strong>
  <%= @account.education %>
</p>

<p>
  <strong>About:</strong>
  <%= @account.about %>
</p>

<p>
  <strong>Opinions:</strong>
  <%= @account.opinions %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @account.comments %>
</p>

<p>
  <strong>Initiators:</strong>
  <%= @account.initiators %>
</p>

<p>
  <strong>Offspring:</strong>
  <%= @account.offspring %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @account.rating %>
</p>

<p>
  <strong>Percentile:</strong>
  <%= @account.percentile %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
